{% extends 'layout.html' %}
{% block content %}
<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>Client / Beneficiary Update History</h3>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item">Client</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <table class="table table-sm table-bordered table-hover w-100" id="update-history">
                        <thead>
                            <th>#</th>
                            <th>DETAILS</th>
                            <th>UNIQUE ID</th>
                            <th>Recent last name</th>
                            <th>Recent first name</th>
                            <th>Recent middle name</th>
                            <th>Recent suffix</th>
                            <th>Updated by</th>
                            <th>Date Updated</th>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-xl" id="modal_history" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title" id="modalProvidedLabel">Update history</h6>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="load_data">
        </div>
      </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){
        $('#update-history').DataTable({
            'serverSide': true,
            'processing': true,
            'deferRender': true,
            'lengthMenu': [ 15, 25, 50, 100 ],
            'order': [[ 0, 'desc' ]],
            'bDestroy': true,
            'ajax': {
                'url': '/api/client-beneficiary/ClientBeneficiaryUpdateHistoryViews/?format=datatables',
                'type': 'GET',
                'data': function(d) {
                    d.page = d.start / d.length + 1;  // Calculate the current page based on start and length
                    d.page_size = d.length;  // Send the page size
                },
            },
            'fnCreatedRow': function (row, data, index) {
                $(row).attr('id', data['id']);
            },
            'columns': [
                {'data': 'id',
                    'render': function(data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    },
                },
                {'data': 'unique_id', 'className': 'text-center', 
                    'render': function(data, type, row, meta) {
                        return "<a href='#' data-role='update_history' data-id="+ row['id'] + ">VIEW</a>"
                    },
                    'sortable': false,
                    'searchable': false,
                },
                {'data': 'unique_id','name':'unique_id_number.unique_id_number', 'className': 'text-start', 'sortable': false},
                {'data': 'last_name'},
                {'data': 'first_name'},
                {'data': 'middle_name'},
                {'data': 'suffix',
                    'name': 'suffix.name',
                    'className': 'text-start',
                    'searchable': false,
                    'sortable': false,
                    'render': function(data, type, row, meta) {
                        return data && data.trim() !== '' ? data : '';
                    }
                },
                {'data': 'updated_by', 'className': 'text-center', 'sortable': false, 'searchable': false},
                {'data': 'date_updated', 'className': 'text-center', 'sortable': false, 'searchable': false},

            ]
        });
    });
    $(document).on('click','a[data-role=update_history]', function(){ // FOR MODAL PASS TO DIFFERENT MODAL
        var pk = $(this).data('id');
        $('#empid').val(pk)
        $('#modal_history').modal('show').find('#load_data').load('/users/clienthistorymodal/modal/' + pk);
    });
</script>
{% endblock %}