{% load static %}
<style>
    #canvas {
        border-radius: 50%; /* Make the canvas circular */
        overflow: hidden; /* Ensure content outside the border-radius is hidden */
    }
    .avatar {
        border-radius: 50%; /* Make the canvas circular */
        overflow: hidden; /* Ensure content outside the border-radius is hidden */
    }
</style>
<div class="row" id="client_details">
    <form id="updateInformationForm">
    {% csrf_token %}
    <a href="javascript:void(0);" id="back"><i class="fa fa-angle-double-left"></i> Back</a>
    <hr>
    <div class="text-center">
        <div class="cardheader"></div>
        <div class="user-image">
            <div>
                <img class="avatar" alt="" 
                src=
                    "
                        {% if pict %}
                            {{pict.file_field1.url}}
                        {% else %}
                            {% if transaction.client.sex.name == 'Male' %}
                                {% static 'images/user/male.png' %}
                            {% else %}
                                {% static 'images/user/female.png' %}
                            {% endif %}
                        {% endif %}
                    "
                alt="avatar" width = "150" height = "150">
            </div>
        </div>
    </div>
    <small>Note: Please fill in the form below and indicate 'N/A' if not applicable and leave blank if field is optional.</small>
    <br><br>
    <div class="row mb-3">
        <div class="col-md-4">
            <label>ID Number</label>
            <input type="text" class="form-control" value="{{ information.unique_id_number }}" readonly>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <div class="form-group">
                <label>Last Name <span class="txt-danger">*</span></label>
                <input type="text" class="form-control" name="last_name" required autocomplete="off" value="{{ information.last_name }}" oninput="this.value = this.value.toUpperCase()">
                <div class="invalid-feedback"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>First Name <span class="txt-danger">*</span></label>
                <input type="text" class="form-control" name="first_name" required autocomplete="off" value="{{ information.first_name }}" oninput="this.value = this.value.toUpperCase()">
                <div class="invalid-feedback"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Middle Name (Optional)</label>
                <input type="text" class="form-control" name="middle_name" autocomplete="off" value="{{ information.middle_name }}" oninput="this.value = this.value.toUpperCase()">
                <div class="invalid-feedback"></div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Suffix (Optional)</label>
                <select class="form-control suffix-select" name="suffix">
                    <option></option>
                    {% for row in suffix %}
                    {% if row.id == information.suffix_id %}
                    <option value="{{ row.id }}" selected>{{ row.name }}</option>
                    {% else %}
                    <option value="{{ row.id }}">{{ row.name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-3">
            <div class="form-group">
                <label>Birth Date <span class="txt-danger">*</span></label>
                <input type="date" class="form-control" name="birthdate" value="{{ information.birthdate|date:'Y-m-d' }}" required>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Sex <span class="txt-danger">*</span></label>
                <select class="form-control select" name="sex" required>
                    <option></option>
                    {% for row in sex %}
                    {% if row.id == information.sex_id %}
                    <option value="{{ row.id }}" selected>{{ row.name }}</option>
                    {% else %}
                    <option value="{{ row.id }}">{{ row.name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Contact Number <span class="txt-danger">*</span></label>
                <div class="input-group">
                    <span class="input-group-text">+63</span>
                    <input type="text" class="form-control" maxlength="11" onkeypress="return isNumberKey(event)" name="contact_number" value="{{ information.contact_number }}" autocomplete="off" required>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Civil Status <span class="txt-danger">*</span></label>
                <select class="form-control select" name="civil_status" required>
                    <option></option>
                    {% for row in civil_status %}
                    {% if row.id == information.civil_status_id %}
                    <option value="{{ row.id }}" selected>{{ row.name }}</option>
                    {% else %}
                    <option value="{{ row.id }}">{{ row.name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-3">
            <div class="form-group">
                <label>Region <span class="txt-danger">*</span></label>
                <select class="form-control select" name="region" id="region" required>
                    <option></option>
                    {% for row in region_name %}
                    <option value="{{ row.region_code }}">{{ row.region_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Province <span class="txt-danger">*</span></label>
                <select class="form-control select" name="province" id="province" required>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>City <span class="txt-danger">*</span></label>
                <select class="form-control select" name="city" id="city" required></select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Barangay <span class="txt-danger">*</span></label>
                <select class="form-control select" name="barangay" id="barangay" required></select>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-4">
            <div class="form-group">
                <label>House / Block / Lot No.</label>
                <input type="text" class="form-control" name="house_no" value="{{ information.house_no }}" autocomplete="off">
                <div class="invalid-feedback"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Street</label>
                <input type="text" class="form-control" name="street" value="{{ information.street }}" autocomplete="off">
                <div class="invalid-feedback"></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Subdivision / Village</label>
                <input type="text" class="form-control" name="village" value="{{ information.village }}" autocomplete="off">
                <div class="invalid-feedback"></div>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-6">
            <div class="form-group">
                <label>Occupation <span class="txt-danger">*</span></label>
                <select class="form-control select" name="occupation_data">
                    <option></option>
                    {% for row in occupation %}
                    {% if row.id == information.occupation_id %}
                    <option value="{{ row.id }}" selected>{{ row.occupation_name }}</option>
                    {% else %}
                    <option value="{{ row.id }}">{{ row.occupation_name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label>Salary <span class="txt-danger">*</span></label>
                <input type="text" class="form-control" name="salary" value="{{ information.salary }}" autocomplete="off" required>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2">
            <div class="form-group">
                <label>ID Presented <span class="txt-danger">*</span></label>
                <select class="form-control select" name="IDPresented" id="" required>
                    <option></option>
                    {% for row in Presented %}
                    {% if row.id == information.presented_id %}
                    <option value="{{ row.id }}" selected>{{ row.presented }}</option>
                    {% else %}
                    <option value="{{ row.id }}">{{ row.presented }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Type of ID <span class="txt-danger" id="txt-id-number"></span></label>
                <input type="text" class="form-control" name="IDPNo" id="" value="{% if information.presented_id_no %}{{ information.presented_id_no }}{% else %}N/A{% endif %}" autocomplete="off">
                <div class="invalid-feedback"></div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>4Ps Member <span class="txt-danger">*</span></label>
                <select class="form-control select" name="4ps_member" id="4ps_member" required>
                    <option></option>
                    <option value="1" {% if information.is_4ps %}selected{% endif %}>Yes</option>
                    <option value="0" {% if not information.is_4ps %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>4Ps ID Number <span class="txt-danger" id="txt-id-number"></span></label>
                <input type="text" class="form-control" name="4ps_id_number" id="4ps_id_number" value="{% if information.number_4ps_id_number %}{{ information.number_4ps_id_number }}{% else %}N/A{% endif %}" {% if not information.is_4ps %}readonly{% endif %} autocomplete="off">
                <div class="invalid-feedback"></div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Indigenous People <span class="txt-danger">*</span></label>
                <select class="form-control select" name="indi" id="indi" required>
                    <option></option>
                    <option value="1" {% if information.is_indi %}selected{% endif %}>Yes</option>
                    <option value="0" {% if not information.is_indi %}selected{% endif %}>No</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label>Tribe <span class="txt-danger" id="txt-tribe"></span></label>
                <select class="form-control select" name="tribe" id="tribe" {% if not information.is_indi %}disabled{% endif %}>
                    <option></option>
                    {% for row in tribe %}
                    {% if row.id == information.tribu_id %}
                    <option value="{{ row.id }}" selected>{{ row.name }}</option>
                    {% else %}
                    <option value="{{ row.id }}">{{ row.name }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <small>Family Composistion</small>
    <br><br>
    <div class="row mb-3">
        <div class="table-responsive">
            <table class="table table-bordered w-100 table-sm" id="family-composition-table">
                <thead>
                    <th width="30%">Full Name</th>
                    <th class="text-center">Sex</th>
                    <th class="text-center">Age</th>
                    <th class="text-center">Relationship</th>
                    <th class="text-center">Occupation</th>
                    <th class="text-center">Salary per month</th>
                    <th>
                        <center>
                            <button type="button" class="btn btn-primary btn-xs" id="add-family"><i class="fa fa-plus"></i></button>
                        </center>
                    </th>
                </thead>
                <tbody>
                    {% for family in family_composistion %}
                    <tr>
                        <td>
                            <input type="text" class="form-control" value="{{ family.first_name }}" name="first_name[]" placeholder="First Name" autocomplete="off"><br>
                            <input type="text" class="form-control" value="{{ family.middle_name }}" name="middle_name[]" placeholder="Middle Name" autocomplete="off"><br>
                            <input type="text" class="form-control" value="{{ family.last_name }}" name="last_name[]" placeholder="Last Name" autocomplete="off"><br>
                            <select class="form-control suffix-select" name="suffix[]">
                                <option></option>
                                {% for row in suffix %}
                                {% if row.id == family.suffix_id %}
                                <option value="{{ row.id }}" selected>{{ row.name }}</option>
                                {% else %}
                                <option value="{{ row.id }}">{{ row.name }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback"></div>
                        </td>
                        <td valign="middle">
                            <select class="form-control select" name="rosterSex[]" required>
                                <option></option>
                                {% for row in sex %}
                                {% if row.id == family.sex_id %}
                                <option value="{{ row.id }}" selected>{{ row.name }}</option>
                                {% else %}
                                <option value="{{ row.id }}">{{ row.name }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td valign="middle">
                            <input type="text" class="form-control" name="age[]" value="{{ family.age }}">
                        </td>
                        <td valign="middle">
                            <select class="form-control select" name="relation[]">
                                <option></option>
                                {% for row in Relation %}
                                {% if row.id == family.relation_id %}
                                <option value="{{ row.id }}" selected>{{ row.name }}</option>
                                {% else %}
                                <option value="{{ row.id }}">{{ row.name }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td valign="middle">
                            <select class="form-control select" name="occupation[]">
                                <option></option>
                                {% for row in occupation %}
                                {% if row.id == family.occupation_id %}
                                <option value="{{ row.id }}" selected>{{ row.occupation_name }}</option>
                                {% else %}
                                <option value="{{ row.id }}">{{ row.occupation_name }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td valign="middle">
                            <input type="text" class="form-control" name="salary[]" value="{{ family.salary }}" autocomplete="off">
                            <div class="invalid-feedback"></div>
                        </td>
                        <td valign="middle">
                            <center>
                                <a href='#' class="btn btn-danger btn-xs" data-role='delete_fam_composition' data-id="{{family.id}}"><i class="fa fa-minus"></i></a>
                            </center>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Save changes</button>
    </form>
    {% if client_history %}
    <div class="mx-auto" style="width: 200px;">
        <hr>
    </div>
    <div class="card">
        <h6 class="card-header">Recent information of client/beneficiary</h6>
        <div class="card-body">
            <div class="row mb-3">
                <div class="table-responsive">
                    <table class="table table-bordered w-100 table-sm" id="">
                        <thead>
                            <th>#</th>
                            <th>Recent last name</th>
                            <th>Recent first name</th>
                            <th>Recent middle name</th>
                            <th>Recent suffix</th>
                            <th>Updated by</th>
                            <th>Date Updated</th>
                        </thead>
                        <tbody>
                            {% for row in client_history %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{row.last_name}}</td>
                                <td>{{row.first_name}}</td>
                                <td>{{row.middle_name}}</td>
                                <td>{{row.suffix.name}}</td>
                                <td>{{row.updated_by.get_fullname}}</td>
                                <td>{{row.date_updated}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% block script %}
<script>
    $(document).ready(function(){
        $('.select').select2({
            width: '100%',
            placeholder: 'Choose',
            containerCssClass: 'select'
        });

        $('.suffix-select').select2({
            width: '100%',
            placeholder: 'Choose',
            containerCssClass: 'select',
            allowClear: true
        });

        $('#back').on('click', function(){
            window.location.href = "{% url 'client_beneficiary' %}"
        });

        var addressOptions = {
            width: "100%",
            placeholder: 'Choose',
            containerCssClass: 'select'
        }

        $('#region').select2(addressOptions);
        $('#province').select2(addressOptions);
        $('#city').select2(addressOptions);
        $('#barangay').select2(addressOptions);


        var processProvince = new Select2Cascade($('#region'), $('#province'), '/libraries/province/get/:parentId:', addressOptions);
        var processCity = new Select2Cascade($('#province'), $('#city'), '/libraries/city/get/:parentId:', addressOptions);
        var processBrgy = new Select2Cascade($('#city'), $('#barangay'), '/libraries/barangay/get/:parentId:', addressOptions);

        $('#region').val('{{ information.barangay.city_code.prov_code.region_code.region_code }}').trigger('change');

        processProvince.then( function(parent, child, items) {
            $('#province').val('{{ information.barangay.city_code.prov_code.prov_code }}').trigger('change');
        });

        processCity.then( function(parent, child, items) {
            $('#city').val('{{ information.barangay.city_code.city_code }}').trigger('change');
        });

        processBrgy.then( function(parent, child, items) {
            $('#barangay').val('{{ information.barangay_id }}').trigger('change');
        });

        var template = `
            <tr>
                <td>
                    <input type="text" class="form-control" name="first_name[]" placeholder="First Name" autocomplete="off" required><br>
                    <input type="text" class="form-control" name="middle_name[]" placeholder="Middle Name" autocomplete="off"><br>
                    <input type="text" class="form-control" name="last_name[]" placeholder="Last Name" autocomplete="off" required><br>
                    <select class="form-control suffix-select" name="suffix[]">
                        <option></option>
                        {% for row in suffix %}
                        <option value="{{ row.id }}">{{ row.name }}</option>
                        {% endfor %}
                    </select>
                    <div class="invalid-feedback"></div>
                </td>
                <td valign="middle">
                    <select class="form-control compo-select" name="rosterSex[]" required>
                        <option></option>
                        {% for row in sex %}
                        <option value="{{ row.id }}">{{ row.name }}</option>
                        {% endfor %}
                    </select>
                </td>   
                <td valign="middle">
                    <input type="text" class="form-control" name="age[]" required>
                </td>
                <td valign="middle">
                    <select class="form-control relation-select" name="relation[]" required>
                        <option></option>
                        {% for row in Relation %}
                        <option value="{{ row.id }}">{{ row.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td valign="middle">
                    <select class="form-control occupation-select" name="occupation[]" required>
                        <option></option>
                        {% for row in occupation %}
                        <option value="{{ row.id }}">{{ row.occupation_name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td valign="middle">
                    <input type="text" class="form-control" name="salary[]" autocomplete="off" required>
                    <div class="invalid-feedback"></div>
                </td>
                <td valign="middle">
                    <center>
                        <button type="button" class="btn btn-danger btn-xs" data-role="remove"><i class="fa fa-minus"></i></button>
                    </center>
                </td>
            </tr>
        `;

        $('#add-family').on('click', function(){
            $('#family-composition-table tbody').prepend(template);
            $('.suffix-select').select2({
                width: "100%",
                containerCssClass: 'select',
                allowClear: true,
                placeholder: 'Choose Suffix',
            });
            $('.compo-select').select2({
                width: "100%",
                containerCssClass: 'select',
                placeholder: 'Choose Sex',
            });
            $('.relation-select').select2({
                width: "100%",
                containerCssClass: 'select',
                placeholder: 'Choose Relationship',
            });
            $('.occupation-select').select2({
                width: "100%",
                containerCssClass: 'select',
                placeholder: 'Choose Occupation',
            });
        });

        $(document).on('click', 'button[data-role=remove]', function(){
            $(this).closest('tr').remove();
        });

        function validationForm(){
            var invalid = false;
            $('.form-control').each(function() {
                if (/<[a-z][\s\S]*>/i.test($(this).val())) {
                    $(this).addClass('is-invalid');
                    $(this).next('.invalid-feedback').html("The field cannot contain HTML tags.")
                    invalid = true;
                }
            });
            return invalid;
        }

        $('#updateInformationForm').on('submit', function(e){
            e.preventDefault();
            var form = new FormData(this);
            if (!validationForm()){
                Swal.fire({
                    title: "Are you sure",
                    text: "You want to update this new client / beneficiary?",
                    icon: "info",
                    showCancelButton: true,
                    confirmButtonText: "Yes",
                    allowOutsideClick: false,
                    showLoaderOnConfirm: true,
                    preConfirm: function (){
                        return $.post({
                            url: "{% url 'view_client_bene_info' information.unique_id_number %}",
                            data: form,
                            success : function (response){
                                if(!response.error){
                                    Swal.fire({
                                        title: "Good job!",
                                        html:  response.msg,
                                        icon: "success",
                                        allowOutsideClick: false,
                                    }).then(() => {
                                        // Reload or update section
                                        $('#client_details').load(`/client-beneficiary/view/{{ information.unique_id_number }}`);
                                    });
                                } else {
                                    Swal.fire({
                                        title: "Oops...",
                                        html:  response.msg,
                                        icon: "warning",
                                        allowOutsideClick: false,
                                    });
                                }
                            },
                            cache       : false,
                            contentType : false,
                            processData : false,
                        });
                    },
                });
            }
        });
        $(document).on('click', 'a[data-role=delete_fam_composition]', function(){
            var id = $(this).data('id');
            console.log(id)
            Swal.fire({
              title: "Are you sure",
              text: "You want to this data?",
              icon: "warning",
              showCancelButton: true,
              confirmButtonColor: "#3498DB",
              confirmButtonText: "Yes",
              allowOutsideClick: false,
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.showLoading()
                    $.ajax({
                        url: "{% url 'remove_family_composition' %}",
                        data: {
                            id: id
                        },
                        type: "POST"
                    })
                    .done(function(data){
                        if (data.data == 'success'){
                            Swal.fire({
                              title: "Good job!",
                              text: "You successfully deleted the data",
                              icon: "success",
                              confirmButtonColor: "#3498DB",
                              allowOutsideClick: false,
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    $("#check").modal('hide');
                                    $('#client_details').load('/client-beneficiary/view/{{ information.unique_id_number }}');
                                  }
                            });
                        }
                    });
                }
            });
        });
    });
</script>
{% endblock %}