{% extends 'layout.html' %}
{% block content %}
<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>City</h3>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item">Libraries</li>
                    <li class="breadcrumb-item active">City</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-city-modal"><i class="fa fa-plus"></i> Add City</button>
                    <br><br>
                    <table class="table table-sm table-bordered table-hover w-100" id="city-table">
                        <thead>
                            <th>Action</th>
                            <th>City</th>
                            <th>Province</th>
                            <th>Region</th>
                            <th>Status</th>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="add-city-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header flex-column position-relative">
                <h5 class="modal-title f-w-700">ADD CITY</h5>
                <small class="modal-subtitle">Please fill out the form below.</small>
                <button class="btn-close position-absolute" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="submitForm">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <label>Province <span class="txt-danger">*</span></label>
                        <select class="form-control select" name="province" id="province">
                            <option></option>
                            {% for row in province %}
                            <option value="{{ row.prov_code }}">{{ row.prov_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label>City <span class="txt-danger">*</span></label>
                        <input type="text" class="form-control" id="name" name="name" autocomplete="off" required>
                        <div class="invalid-feedback" id="alert-on-name"></div>
                    </div>
                    <div class="form-group mb-3">
                        <label>Code <span class="txt-danger">*</span></label>
                        <input type="text" class="form-control" id="code" name="code" autocomplete="off" required>
                        <div class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="edit-city-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header flex-column position-relative">
                <h5 class="modal-title f-w-700">EDIT CITY</h5>
                <small class="modal-subtitle">Please fill out the form below.</small>
                <button class="btn-close position-absolute" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="submitEditForm">
                {% csrf_token %}
                <div class="modal-body">
                    <input type="hidden" id="edit-id" name="edit-id">
                    <div class="form-group mb-3">
                        <label>Province <span class="txt-danger">*</span></label>
                        <select class="form-control select" name="province" id="edit-province">
                            <option></option>
                            {% for row in province %}
                            <option value="{{ row.prov_code }}">{{ row.prov_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label>City <span class="txt-danger">*</span></label>
                        <input type="text" class="form-control" id="edit-name" name="edit-name" autocomplete="off" required>
                        <div class="invalid-feedback" id="alert-on-edit-name"></div>
                    </div>
                    <div class="form-group mb-3">
                        <label>Code <span class="txt-danger">*</span></label>
                        <input type="text" class="form-control" id="edit-code" name="edit-code" autocomplete="off" required>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" class="form-check-input" name="edit-status" id="edit-status"> Status
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script for="init">
    $(document).ready(function(){
        $('#city-table').DataTable({
            'serverSide': true,
            'processing': true,
            'deferRender': true,
            'lengthMenu': [ 25, 50, 100 ],
            'order': [[ 1, 'asc' ]],
            'bDestroy': true,
            'ajax': {
                'url': '/api/libraries/city/?format=datatables',
                'type': 'GET',
            },
            'fnCreatedRow': function (row, data, index) {
                $(row).attr('id', data['id']);
            },
            'columns': [
                {'data': 'id',
                    'render': function(data, type, row, meta) {
                        return "<a href='javascript:void(0);' data-role='edit' data-id='"+ row['id'] + "'>Edit</a>"
                    },
                    'searchable': false,
                },
                {'data': 'city_name', 'className': 'text-start' },
                {'data': 'province', 'className': 'text-start', 'name': 'prov_code.prov_name' },
                {'data': 'region', 'className': 'text-start', 'name': 'prov_code.region_code.region_name' },
                {'data': 'is_active',
                    'render': function(data, type, row, meta) {
                        if(data == 0) {
                            return '<i class="fa fa-circle txt-success"></i> Active'
                        }else if (data == 1) {
                            return '<i class="fa fa-circle txt-danger"></i> Inactive'
                        }
                    },
                    'className': 'text-center',
                    'searchable': false,
                },

            ]
        });

        $(document).on('click', 'a[data-role=edit]', function(){
            var id = $(this).data('id');
            var name = $('#'+id).find('td:eq(1)').text();
            var code = $('#'+id).find('td:eq(2)').text();
            var province = $('#'+id).find('td:eq(4)').text();
            var status = $('#'+id).find('td:eq(7)').text();

            $('#edit-id').val(id);
            $('#edit-name').val(name);
            $('#edit-code').val(code);
            $('#edit-province').val(province).trigger('change');
            (status.trim() == "Active") ? $('#edit-status').attr('checked', true) : $('#edit-status').attr('checked', false)
            $('#edit-city-modal').modal('show');
        });
    });
</script>
<script for="request">
    $(document).ready(function(){
        function validationForm(){
            var invalid = false;
            $('.form-control').each(function() {
                if (/<[a-z][\s\S]*>/i.test($(this).val())) {
                    $(this).addClass('is-invalid');
                    $(this).next('.invalid-feedback').html("The field cannot contain HTML tags.")
                    invalid = true;
                }
            });
            return invalid;
        }

        function clearValidation(){
            $('.form-control').each(function() {
                $(this).removeClass('is-invalid');
                $(this).next('.invalid-feedback').html("");
            });
        }

        $('#submitForm').on('submit', function(e){
            e.preventDefault();
            if (!validationForm()){
                var form = new FormData(this);
                Swal.fire({
                    title: "Are you sure",
                    text: "You want to add this new city?",
                    icon: "info",
                    showCancelButton: true,
                    confirmButtonText: "Yes",
                    allowOutsideClick: false,
                    showLoaderOnConfirm: true,
                    preConfirm: function (){
                        return $.post({
                            url: "{% url 'city' %}",
                            data: form,
                            success : function (response){
                                if(!response.error){
                                    Swal.fire({
                                        title: "Good job!",
                                        html:  response.msg,
                                        icon: "success",
                                        allowOutsideClick: false,
                                    }).then((result) => {
                                        if (result.isConfirmed){
                                            $('#submitForm').trigger('reset');
                                            $('#city-table').DataTable().ajax.reload();
                                            clearValidation();
                                            $('#add-city-modal').modal('hide');
                                        }
                                    });
                                } else {
                                    $('#name').addClass('is-invalid');
                                    $('#alert-on-name').html(response.msg);
                                }
                            },
                            cache       : false,
                            contentType : false,
                            processData : false,
                        });
                    },
                });
            }
        });

        $('#submitEditForm').on('submit', function(e){
            e.preventDefault();
            var form = new FormData(this);
            if (!validationForm()){
                Swal.fire({
                    title: "Are you sure",
                    text: "You want to edit this new city?",
                    icon: "info",
                    showCancelButton: true,
                    confirmButtonText: "Yes",
                    allowOutsideClick: false,
                    showLoaderOnConfirm: true,
                    preConfirm: function (){
                        return $.post({
                            url: "{% url 'edit_city' %}",
                            data: form,
                            success : function (response){
                                if(!response.error){
                                    Swal.fire({
                                        title: "Good job!",
                                        html:  response.msg,
                                        icon: "success",
                                        allowOutsideClick: false,
                                    }).then((result) => {
                                        if (result.isConfirmed){
                                            $('#submitEditForm').trigger('reset');
                                            $('#city-table').DataTable().ajax.reload();
                                            clearValidation()
                                            $('#edit-city-modal').modal('hide');
                                        }
                                    });
                                } else {
                                    $('#edit-name').addClass('is-invalid');
                                    $('#alert-on-edit-name').html(response.msg);
                                }
                            },
                            cache       : false,
                            contentType : false,
                            processData : false,
                        });
                    },
                });
            }
        });
    });
</script>
{% endblock %}