{% extends 'layout.html' %}
{% block content %}
<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>Signatories</h3>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item">Libraries</li>
                    <li class="breadcrumb-item active">Signatories signature</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-sp-modal"><i class="fa fa-plus"></i> Add Signatories</button>
                    <br><br>
                    <table class="table table-sm table-bordered table-hover w-100" id="sp-table">
                        <thead>
                            <th>Action</th>
                            <th>Signatories</th>
                            <th>Filename</th>
                            <th>Status</th>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="add-sp-modal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header flex-column position-relative">
                <h5 class="modal-title f-w-700">ADD SERVICE PROVIDER</h5>
                <small class="modal-subtitle">Please fill out the form below.</small>
                <button class="btn-close position-absolute" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="submitForm">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <label>Signatories</label>
                        <select class="form-control select signatories" id="signatories" name="signatories" required></select>
                        <div class="invalid-feedback" id="alert-on-name"></div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="formFile" class="form-label">Uploading of Signatories</label>
                        <input class="form-control" type="file" name="file" id="formFile" accept=".png" onchange="ValidateSingleInput(this);" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="edit-signatories-modal">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header flex-column position-relative">
                <h5 class="modal-title f-w-700">EDIT MODE OF ADMISSION</h5>
                <small class="modal-subtitle">Please fill out the form below.</small>
                <button class="btn-close position-absolute" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="submitEditForm">
                {% csrf_token %}
                <div class="modal-body">
                    <input type="hidden" id="edit-id" name="edit-id">
                    <div class="form-group mb-3">
                        <label>Name <span class="txt-danger">*</span></label>
                        <input type="text" class="form-control" id="edit-name" name="edit-name" autocomplete="off" required>
                        <div class="invalid-feedback" id="alert-on-edit-name"></div>
                    </div>
                    <div class="form-group mb-3">
                        <label>Filename</label>
                        <input type="text" class="form-control" id="edit-filename" name="edit-filename" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input type="checkbox" class="form-check-input" name="edit-status" id="edit-status"> Status
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    function ValidateSingleInput(fileInput) {
        var allowedExtensions = /(\.png)$/i;
    
        var filePath = fileInput.value;
        if (!allowedExtensions.exec(filePath)) {
            alert('Please upload only PNG files.');
            fileInput.value = '';
            return false;
        }
        // Other validation or processing code can go here
    }
</script>
<script for="init">
    $(document).ready(function(){
        $('#sp-table').DataTable({
            'serverSide': true,
            'processing': true,
            'deferRender': true,
            'lengthMenu': [ 25, 50, 100 ],
            'order': [[ 1, 'asc' ]],
            'bDestroy': true,
            'ajax': {
                'url': '/api/libraries/signatories/?format=datatables',
                'type': 'GET',
            },
            'fnCreatedRow': function (row, data, index) {
                $(row).attr('id', data['id']);
            },
            'columns': [
                {'data': 'id',
                    'render': function(data, type, row, meta) {
                        return "<a href='javascript:void(0);' data-role='edit' data-id='"+ row['id'] + "'>Edit</a>"
                    }
                },
                {'data': 'signatories',
                    'name': 'signatories.last_name, signatories.first_name',
                    'className': 'text-center'
                },
                {'data': 'signature_file',
                    'className': 'text-center'
                },
                {'data': 'status',
                    'render': function(data, type, row, meta) {
                        if(data == 1) {
                            return '<i class="fa fa-circle txt-success"></i> Active'
                        }else if (data == 0) {
                            return '<i class="fa fa-circle txt-danger"></i> Inactive'
                        }
                    },
                    'className': 'text-center'
                },
            ]
        });

        contactPersonInit();
        function contactPersonInit(){
            $('.signatories').select2({
                width: '100%',
                placeholder: 'Choose',
                containerCssClass: 'select',
                allowClear: true,
                ajax: {
                    url: "{% url 'get_all_user' %}",
                    method: "GET",
                    datatype: "json",
                    data: function(params) {
                        return {
                            searchTerm: params.term
                        }
                    },
                    processResults: function(response) {
                        return {
                            results:response
                        };
                    },
                    cache: true
                }
            });
        }

        $(document).on('click', 'a[data-role=edit]', function(){
            var id = $(this).data('id');
            var name = $('#'+id).find('td:eq(1)').text();
            var filename = $('#'+id).find('td:eq(2)').text();
            console.log(name)
            var status = $('#'+id).find('td:eq(3)').text();

            $('#edit-id').val(id);
            $('#edit-name').val(name);
            $('#edit-filename').val(filename);
            (status.trim() == "Active") ? $('#edit-status').attr('checked', true) : $('#edit-status').attr('checked', false)
            $('#edit-signatories-modal').modal('show');
        });
    });
</script>
<script for="request">
    $(document).ready(function(){
        function validationForm(){
            var invalid = false;
            $('.form-control').each(function() {
                if (/<[a-z][\s\S]*>/i.test($(this).val())) {
                    $(this).addClass('is-invalid');
                    $(this).next('.invalid-feedback').html("The field cannot contain HTML tags.")
                    invalid = true;
                }
            });
            return invalid;
        }

        function clearValidation(){
            $('.form-control').each(function() {
                $(this).removeClass('is-invalid');
                $(this).next('.invalid-feedback').html("");
            });
        }

        $('#submitForm').on('submit', function(e){
            e.preventDefault();
            if (!validationForm()){
                var form = new FormData(this);
                Swal.fire({
                    title: "Are you sure",
                    text: "You want to add this as signatories?",
                    icon: "info",
                    showCancelButton: true,
                    confirmButtonText: "Yes",
                    allowOutsideClick: false,
                    showLoaderOnConfirm: true,
                    preConfirm: function (){
                        return $.post({
                            url: "{% url 'signatories' %}",
                            data: form,
                            success : function (response){
                                if(!response.error){
                                    Swal.fire({
                                        title: "Good job!",
                                        html:  response.msg,
                                        icon: "success",
                                        allowOutsideClick: false,
                                    }).then((result) => {
                                        if (result.isConfirmed){
                                            $('#submitForm').trigger('reset');
                                            $('.select').val("").trigger('change');
                                            $('#sp-table').DataTable().ajax.reload();
                                            clearValidation();
                                            $('#add-sp-modal').modal('hide');
                                        }
                                    });
                                } else {
                                    Swal.fire("Oops...", response.msg, "warning");
                                }
                            },
                            cache       : false,
                            contentType : false,
                            processData : false,
                        });
                    },
                });
            }
        });
        $('#submitEditForm').on('submit', function(e){
            e.preventDefault();
            if (!validationForm()){
                var form = new FormData(this);
                Swal.fire({
                    title: "Are you sure",
                    text: "You want to update this signatories?",
                    icon: "info",
                    showCancelButton: true,
                    confirmButtonText: "Yes",
                    allowOutsideClick: false,
                    showLoaderOnConfirm: true,
                    preConfirm: function (){
                        return $.post({
                            url: "{% url 'update_signatories' %}",
                            data: form,
                            success : function (response){
                                if(!response.error){
                                    Swal.fire({
                                        title: "Good job!",
                                        html:  response.msg,
                                        icon: "success",
                                        allowOutsideClick: false,
                                    }).then((result) => {
                                        if (result.isConfirmed){
                                            $('#submitForm').trigger('reset');
                                            $('.select').val("").trigger('change');
                                            $('#sp-table').DataTable().ajax.reload();
                                            clearValidation();
                                            $('#edit-signatories-modal').modal('hide');
                                        }
                                    });
                                } else {
                                    $('#name').addClass('is-invalid');
                                    $('#alert-on-name').html(response.msg);
                                }
                            },
                            cache       : false,
                            contentType : false,
                            processData : false,
                        });
                    },
                });
            }
        });
    });
</script>
{% endblock %}