{% extends 'layout.html' %}
{% block content %}
<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>Client / Online registration</h3>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Client / Beneficiary Registration</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body" id="client_content">
                    <br>
                    <div class="Information"></div>
                    <small class="text-danger" id="noteRegistration">Note: Please fill in the form below and indicate 'N/A' if not applicable and leave blank if field is optional.</small>
                    <br>
                    <br>
                    {% comment %} <form id="submitForm"> {% endcomment %}
                    <div class="requiredInformation">
                        <form id="submitForm">
                            {% csrf_token %}
                            <div class="row mb-3">
                                <input type="text" class="form-control" name="unique_idnumber" id="unique_idnumber" value="{{ information.unique_id_number }}" autocomplete="off" oninput="this.value = this.value.toUpperCase()" hidden>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Last Name <span class="txt-danger">*</span></label>
                                        <input type="text" class="form-control" name="last_name" id="lname" value="{{ information.last_name }}" required autocomplete="off" oninput="this.value = this.value.toUpperCase()" >
                                        <div class="invalid-feedback"></div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>First Name <span class="txt-danger">*</span></label>
                                        <input type="text" class="form-control" name="first_name" value="{{ information.first_name }}"  id="fname" required autocomplete="off" oninput="this.value = this.value.toUpperCase()" >
                                        <div class="invalid-feedback"></div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Middle Name (Optional)</label>
                                        <input type="text" class="form-control" name="middle_name" value="{{ information.middle_name }}"  id="mname" autocomplete="off" oninput="this.value = this.value.toUpperCase()" >
                                        <div class="invalid-feedback"></div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Suffix (Optional)</label>
                                        <select class="form-control select" name="suffix" id="suffix">
                                            <option></option>
                                            {% for row in suffix %}
                                            {% if row.id == information.suffix_id %}
                                            <option value="{{ row.id }}" selected>{{ row.name|upper  }}</option>
                                            {% else %}
                                            <option value="{{ row.id }}">{{ row.name }}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Birth Date <span class="txt-danger">*</span></label>
                                        <input type="date" class="form-control" name="birthdate" value="{{ information.birthdate|date:'Y-m-d' }}" min="1900-05-11" max="{{ date|date:'Y-m-d'}}" id="datePickerId" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <label>Age</label>
                                        <input type="text" class="form-control" name="calculated_age" value="{{ information.get_age }}" id="calculated_age" autocomplete="off" readonly>
                                        <div class="invalid-feedback"></div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Sex <span class="txt-danger">*</span></label>
                                        <select class="form-control select" name="sex" required>
                                            <option></option>
                                            {% for row in sex %}
                                            {% if row.id == information.sex_id %}
                                            <option value="{{ row.id }}" selected>{{ row.name|upper }}</option>
                                            {% else %}
                                            <option value="{{ row.id }}">{{ row.name }}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Contact Number <span class="txt-danger">*</span></label>
                                        <div class="input-group">
                                            <span class="input-group-text">+63</span>
                                            <input type="text" class="form-control" maxlength="11" onkeypress="return isNumberKey(event)" value="{{ information.contact_number }}" name="contact_number" autocomplete="off" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Civil Status <span class="txt-danger">*</span></label>
                                        <select class="form-control select" name="civil_status" required>
                                            <option></option>
                                            {% for row in civil_status %}
                                            {% if row.id == information.civil_status_id %}
                                            <option value="{{ row.id }}" selected>{{ row.name|upper }}</option>
                                            {% else %}
                                            <option value="{{ row.id }}">{{ row.name }}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Region <span class="txt-danger">*</span></label>
                                        <select class="form-control select" name="region" id="region" required>
                                            <option></option>
                                            {% for row in region %}
                                            <option value="{{ row.region_code }}">{{ row.region_name|upper  }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Province <span class="txt-danger">*</span></label>
                                        <select class="form-control select" name="province" id="province" required></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>City <span class="txt-danger">*</span></label>
                                        <select class="form-control select" name="city" id="city" required></select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Barangay <span class="txt-danger">*</span></label>
                                        <select class="form-control select" name="barangay" id="barangay" required></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>House / Block / Lot No. (N/A if None)</label>
                                        <input type="text" class="form-control" name="house_no" autocomplete="off" value="{{ information.house_no }}" oninput="this.value = this.value.toUpperCase()">
                                        <div class="invalid-feedback"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Street (N/A if None)</label>
                                        <input type="text" class="form-control" name="street" autocomplete="off" value="{{ information.street }}" oninput="this.value = this.value.toUpperCase()">
                                        <div class="invalid-feedback"></div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Subdivision / Village (N/A if None)</label>
                                        <input type="text" class="form-control" name="village" autocomplete="off" value="{{ information.village }}" oninput="this.value = this.value.toUpperCase()">
                                        <div class="invalid-feedback"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Occupation <span class="txt-danger">*</span></label>
                                        <select class="form-control select" name="occupation_data">
                                            <option></option>
                                            {% for row in occupation %}
                                            {% if row.id == information.occupation_id %}
                                            <option value="{{ row.id }}" selected>{{ row.occupation_name }}</option>
                                            {% else %}
                                            <option value="{{ row.id }}">{{ row.occupation_name }}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Salary <span class="txt-danger">*</span></label>
                                        <input type="text" class="form-control" name="salary" value="{{ information.salary }}" autocomplete="off" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>ID Presented <span class="txt-danger">*</span></label>
                                        <select class="form-control select" name="id_presented" id="id_presented" required>
                                            <option></option>
                                            {% for row in presented_id %}
                                            {% if row.id == information.presented_id %}
                                            <option value="{{ row.id }}" selected>{{ row.presented }}</option>
                                            {% else %}
                                            <option value="{{ row.id }}">{{ row.presented }}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Type of ID <span class="txt-danger" id="txt-id-presented_id_no"></span></label>
                                        <input type="text" class="form-control" name="presented_id_no" id="presented_id_no" value="{% if information.presented_id_no %}{{ information.presented_id_no }}{% else %}N/A{% endif %}" autocomplete="off" readonly>
                                        <div class="invalid-feedback"></div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <label>4ps Member <span class="txt-danger">*</span></label>
                                        <select class="form-control select" name="4ps_member" id="4ps_member" required>
                                            <option></option>
                                            <option value="1" {% if information.is_4ps %}selected{% endif %}>Yes</option>
                                            <option value="0" {% if not information.is_4ps %}selected{% endif %}>No</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>4Ps ID Number <span class="txt-danger" id="txt-id-number"></span></label>
                                        <input type="text" class="form-control" name="4ps_id_number" id="4ps_id_number" value="{% if information.number_4ps_id_number %}{{ information.number_4ps_id_number }}{% else %}N/A{% endif %}" {% if not information.is_4ps %}readonly{% endif %} readonly autocomplete="off">
                                        <div class="invalid-feedback"></div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label>Indigenous People <span class="txt-danger">*</span></label>
                                        <select class="form-control select" name="indi" id="indi" required>
                                            <option></option>
                                            <option value="1" {% if information.is_indi %}selected{% endif %}>Yes</option>
                                            <option value="0" {% if not information.is_indi %}selected{% endif %}>No</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label>Tribe <span class="txt-danger" id="txt-tribe"></span></label>
                                        <select class="form-control select" name="tribe" id="tribe" disabled>
                                            <option></option>
                                            {% for row in tribe %}
                                            {% if row.id == information.tribu_id %}
                                            <option value="{{ row.id }}" selected>{{ row.name }}</option>
                                            {% else %}
                                            <option value="{{ row.id }}">{{ row.name }}</option>
                                            {% endif %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <small>Family Composistion</small>
                            <br><br>
                            <div class="row mb-3">
                                <div class="table-responsive">
                                    <table class="table table-bordered w-100 table-sm" id="family-composition-table">
                                        <thead>
                                            <th width="30%">Full Name</th>
                                            <th class="text-center">Sex</th>
                                            <th class="text-center">Birth Date</th>
                                            <th class="text-center">Relationship</th>
                                            <th class="text-center">Occupation</th>
                                            <th class="text-center">Salary per month</th>
                                            <th>
                                                <center>
                                                    <button type="button" class="btn btn-primary btn-xs" id="add-family"><i class="fa fa-plus"></i></button>
                                                </center>
                                            </th>
                                        </thead>
                                        <tbody>
                                            {% for family in family_composistion %}
                                            <tr>
                                                <td>
                                                    <input type="text" class="form-control" value="{{ family.first_name }}" name="first_name[]" placeholder="First Name" autocomplete="off"><br>
                                                    <input type="text" class="form-control" value="{{ family.middle_name }}" name="middle_name[]" placeholder="Middle Name" autocomplete="off"><br>
                                                    <input type="text" class="form-control" value="{{ family.last_name }}" name="last_name[]" placeholder="Last Name" autocomplete="off"><br>
                                                    <select class="form-control select" name="suffix[]">
                                                        <option></option>
                                                        {% for row in suffix %}
                                                        {% if row.id == family.suffix_id %}
                                                        <option value="{{ row.id }}" selected>{{ row.name }}</option>
                                                        {% else %}
                                                        <option value="{{ row.id }}">{{ row.name }}</option>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                    <div class="invalid-feedback"></div>
                                                </td>
                                                <td valign="middle">
                                                    <label>Sex <span class="txt-danger">*</span></label>
                                                    <select class="form-control select" name="rosterSex[]" required>
                                                        <option></option>
                                                        {% for row in sex %}
                                                        {% if row.id == family.sex_id %}
                                                        <option value="{{ row.id }}" selected>{{ row.name }}</option>
                                                        {% else %}
                                                        <option value="{{ row.id }}">{{ row.name }}</option>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                                <td valign="middle">
                                                    <input type="date" class="form-control" name="birthdate[]" value="{{ family.birthdate|date:'Y-m-d' }}">
                                                </td>
                                                <td valign="middle">
                                                    <select class="form-control select" name="relation[]">
                                                        <option></option>
                                                        {% for row in Relation %}
                                                        {% if row.id == family.relation_id %}
                                                        <option value="{{ row.id }}" selected>{{ row.name }}</option>
                                                        {% else %}
                                                        <option value="{{ row.id }}">{{ row.name }}</option>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                                <td valign="middle">
                                                    <select class="form-control select" name="occupation[]">
                                                        <option></option>
                                                        {% for row in occupation %}
                                                        {% if row.id == family.occupation_id %}
                                                        <option value="{{ row.id }}" selected>{{ row.occupation_name }}</option>
                                                        {% else %}
                                                        <option value="{{ row.id }}">{{ row.occupation_name }}</option>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </select>
                                                </td>
                                                <td valign="middle">
                                                    <input type="text" class="form-control" name="salary[]" value="{{ family.salary }}" autocomplete="off">
                                                    <div class="invalid-feedback"></div>
                                                </td>
                                                <td valign="middle">
                                                    <center>
                                                        <button type="button" class="btn btn-danger btn-xs" data-role="remove"><i class="fa fa-minus"></i></button>
                                                    </center>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bd-example-modal-xl" id="myModal" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <form id="startTransaction">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                <h6 class="modal-title" id="staticBackdropLabel">Request for Assistance</h6>
                <button type="button" class="btn-close" id="close_modal" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="load_data">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    var addressOptions = {
        width: "100%",
        placeholder: 'Choose',
        containerCssClass: 'select'
    }

    $('#region').select2(addressOptions);
    $('#province').select2(addressOptions);
    $('#city').select2(addressOptions);
    $('#barangay').select2(addressOptions);

    {% if information.unique_id_number %}
    var processProvince = new Select2Cascade($('#region'), $('#province'), '/libraries/province/get/:parentId:', addressOptions);
    var processCity = new Select2Cascade($('#province'), $('#city'), '/libraries/city/get/:parentId:', addressOptions);
    var processBrgy = new Select2Cascade($('#city'), $('#barangay'), '/libraries/barangay/get/:parentId:', addressOptions);
    $('#region').val('{{ information.barangay.city_code.prov_code.region_code.region_code }}').trigger('change');

    processProvince.then( function(parent, child, items) {
        $('#province').val('{{ information.barangay.city_code.prov_code.prov_code }}').trigger('change');
    });

    processCity.then( function(parent, child, items) {
        $('#city').val('{{ information.barangay.city_code.city_code }}').trigger('change');
    });

    processBrgy.then( function(parent, child, items) {
        $('#barangay').val('{{ information.barangay_id }}').trigger('change');
    });
    {% else %}
    new Select2Cascade($('#region'), $('#province'), '/libraries/province/get/:parentId:', select2options);
    new Select2Cascade($('#province'), $('#city'), '/libraries/city/get/:parentId:', select2options);
    new Select2Cascade($('#city'), $('#barangay'), '/libraries/barangay/get/:parentId:', select2options);
    {% endif %}
</script> 
<script>
    $(document).ready(function(){
        $('#list-link').removeClass('active');
        $('.select').select2({
            width: '100%',
            placeholder: 'Choose',
            containerCssClass: 'select'
        });
        var template = `
            <tr>
                <td>
                    <input type="text" class="form-control" name="first_name[]" placeholder="First Name" autocomplete="off" oninput="this.value = this.value.toUpperCase()"><br>
                    <input type="text" class="form-control" name="middle_name[]" placeholder="Middle Name" autocomplete="off" oninput="this.value = this.value.toUpperCase()"><br>
                    <input type="text" class="form-control" name="last_name[]" placeholder="Last Name" autocomplete="off" oninput="this.value = this.value.toUpperCase()"><br>
                    <select class="form-control suffix-select" name="suffix[]">
                        <option></option>
                        {% for row in suffix %}
                        <option value="{{ row.id }}">{{ row.name }}</option>
                        {% endfor %}
                    </select>
                    <div class="invalid-feedback"></div>
                </td>
                <td valign="middle">
                    <select class="form-control compo-select" name="rosterSex[]">
                        <option></option>
                        {% for row in sex %}
                        <option value="{{ row.id }}">{{ row.name }}</option>
                        {% endfor %}
                    </select>
                </td>                
                <td valign="middle">
                    <input type="date" class="form-control" name="birthdate[]" min="1900-05-11">
                </td>
                <td valign="middle">
                    <select class="form-control relation-select" name="relation[]">
                        <option></option>
                        {% for row in Relation %}
                        <option value="{{ row.id }}">{{ row.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td valign="middle">
                    <select class="form-control occupation-select" name="occupation[]">
                        <option></option>
                        {% for row in occupation %}
                        <option value="{{ row.id }}">{{ row.occupation_name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <td valign="middle">
                    <input type="text" class="form-control" name="salary[]" autocomplete="off">
                    <div class="invalid-feedback"></div>
                </td>
                <td valign="middle">
                    <center>
                        <button type="button" class="btn btn-danger btn-xs" data-role="remove"><i class="fa fa-minus"></i></button>
                    </center>
                </td>
            </tr>
        `;

        datePickerId.max = new Date().toISOString().split("T")[0];
        $('#add-family').on('click', function(){
            $('#family-composition-table tbody').prepend(template);
            $('.suffix-select').select2({
                width: "100%",
                containerCssClass: 'select',
                placeholder: 'Choose Suffix',
            });
            $('.compo-select').select2({
                width: "100%",
                containerCssClass: 'select',
                placeholder: 'Choose Sex',
            });
            $('.relation-select').select2({
                width: "100%",
                containerCssClass: 'select',
                placeholder: 'Choose Relationship',
            });
            $('.occupation-select').select2({
                width: "100%",
                containerCssClass: 'select',
                placeholder: 'Choose Occupation',
            });

        });

        $(document).on('click', 'button[data-role=remove]', function(){
            $(this).closest('tr').remove();
        });
        {% if information.barangay.city_code == null %}
            var select2options = {
                width: "100%",
                containerCssClass: 'select',
                placeholder: 'Choose',
            }
            new Select2Cascade($('#region'), $('#province'), '/libraries/province/get/:parentId:', select2options);
            new Select2Cascade($('#province'), $('#city'), '/libraries/city/get/:parentId:', select2options);
            new Select2Cascade($('#city'), $('#barangay'), '/libraries/barangay/get/:parentId:', select2options);
        {% endif %} 


        $('#4ps_member').on('change', function(){
            if($(this).val() == "0") {
                $('#4ps_id_number').prop('readonly', true);
                $('#4ps_id_number').prop('required', false);
                $('#txt-id-number').text('');
                $('#4ps_id_number').val('N/a');
                
            } else {
                $('#4ps_id_number').val('');
                $('#4ps_id_number').prop('readonly', false);
                $('#4ps_id_number').prop('required', true);
                $('#txt-id-number').text('*');
            }
        });

        $('#id_presented').on('change', function(){
            if($(this).val() == "1") {
                $('#presented_id_no').prop('readonly', false);
                $('#presented_id_no').prop('required', true);
                $('#txt-id-presented_id_no').text('*');
                $('#presented_id_no').val('');

            } else {
                $('#presented_id_no').prop('readonly', true);
                $('#presented_id_no').prop('required', false);
                $('#presented_id_no').val('');
            }
        });

        $('#indi').on('change', function(){
            if($(this).val() == "0") {
                $('#tribe').prop('disabled', true);
                $('#tribe').prop('required', false);
                $('#tribe').val('').trigger('change');
                $('#txt-tribe').text('')
            } else {
                $('#tribe').prop('disabled', false);
                $('#tribe').prop('required', true);
                $('#txt-tribe').text('*')
                $('#txt-tribe').text('')
            }
        });

        function validationForm(){
            var invalid = false;
            $('.form-control').each(function() {
                if (/<[a-z][\s\S]*>/i.test($(this).val())) {
                    $(this).addClass('is-invalid');
                    $(this).next('.invalid-feedback').html("The field cannot contain HTML tags.")
                    invalid = true;
                }
            });
            return invalid;
        }
        $('#submitForm').on('submit', function(e){
            e.preventDefault();
            var form = new FormData(this);
            if (!validationForm()){
                Swal.fire({
                    title: "Are you sure",
                    text: "Your information is correct?",
                    icon: "info",
                    showCancelButton: true,
                    confirmButtonText: "Yes",
                    allowOutsideClick: false,
                    showLoaderOnConfirm: true,
                    preConfirm: function (){
                        return $.post({
                            url: "{% url 'registrationOnline' %}",
                            data: form,
                            success : function (response){
                                if(!response.error){
                                    Swal.fire({
                                        title: "Good job!",
                                        html:  response.msg,
                                        icon: "success",
                                        allowOutsideClick: false,
                                    }).then((result) => {
                                        if (result.isConfirmed){
                                            location.reload();
                                        }
                                    });
                                } else {
                                    $('.alertDiv').html(
                                        `
                                            <div class="alert alert-danger">
                                                <i class="fa fa-info-circle"></i>&emsp;
                                                `+ response.msg +`
                                            </div><br>
                                        `
                                    )
                                }
                            },
                            cache       : false,
                            contentType : false,
                            processData : false,
                        });
                    },
                });
            }
        });
    });

    function check(fname, lname, mname, datePickerId){
        var bday = datePickerId
        $('#filteringSearch').DataTable({
            'serverSide': true,
            'processing': true,
            'order': [[ 2, 'desc' ]],
            'lengthMenu': [5,10,15],
            'ajax': {
                'url': '/api/client-beneficiary/AdvanceFilterViews/?format=datatables&fname=' + fname + '&lname=' + lname + '&bday=' + bday,
                'type': 'GET',
                'beforeSend': function (request) {
                    request.setRequestHeader("Authorization", "Token 82b88a7bdac1ea3868361448927035e93b0dc19d")
                }
            },
            'fnCreatedRow': function (row, data, index) {
                $(row).attr('id', data['id']);
            },
            'columns': [
                {'data': 'id',
                    'render': function(data, type, row, meta) {
                            return " <a href='#' data-role='direct' data-id="+ data + ">REQUEST</a> "
                        }
                },
                {'data': 'last_name', 'className': 'text-center'},
                {'data': 'first_name', 'className': 'text-center'},
                {'data': 'middle_name', 'className': 'text-center'},
                {'data': 'birthdate','className': 'text-center'}
            ],
        });
    }
    
    function doCalc(){
        $("#fname, #mname, #lname, #suffix").on("change keyup", function(e) {
            var first_name = $("#fname").val();
            var middle_name = $("#mname").val();
            var last_name = $("#lname").val();
            var client_suffix = $("#suffix").val();

            $('#f_name').val(first_name);
            $('#m_name').val(middle_name);
            $('#l_name').val(last_name);
            $('#cb_suffix').val(client_suffix);
            

        });
        $("#datePickerId").on("change keyup", function(e) {
            var datetime = $("#datePickerId").val();
            $('#datebirth').val(datetime);

            var Bdate = datetime;
            var Bday = +new Date(Bdate);
            current_age = ~~ ((Date.now() - Bday) / (31557600000));
            $('#calculated_age').val(current_age);
    
        });
    }
    doCalc()
    $(document).on('click','a[data-role=direct]', function(){ // FOR MODAL SUMMARY
        var id = $(this).data('id');
        $('#empid').val(id)
        $('#myModal').modal('show').find('#load_data').load('/client-beneficiary/direct_requests/modal_direct/' +id);
       });
</script>
{% endblock %}