<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title>AICS - HELPS SYSTEM </title>
    <link rel="icon" href="{% static 'images/logo/logo-icon.png' %}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% static 'images/logo/logo-icon.png' %}" type="image/x-icon" />
    <!-- Bootstrap core CSS --> 
    <link href="{% static 'lp_vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'lp_assets/css/templateamo.css' %}">
    {% comment %} <link rel="stylesheet" href="{% static 'lp_assets/assets/css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'lp_assets/assets/css/owl.css' %}"> {% endcomment %}

  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="{% url 'landingpage' %}" class="logo">
              <img src="{% static 'lp_assets/images/logo13.png' %}" style="height:45px;">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li><div class="gradient-button"><a id="modal_trigger" href="{% url 'login' %}"><i class="fa fa-sign-in-alt"></i> Log in now</a></div></li>
            </ul>
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div id="modal" class="popupContainer" style="display:none;">
    <div class="popupHeader">
        <span class="header_title">Login</span>
        <span class="modal_close"><i class="fa fa-times"></i></span>
    </div>

    <section class="popupBody">
        <!-- Social Login -->
        <div class="social_login">
            <div class="">
                <a href="#" class="social_box fb">
                    <span class="icon"><i class="fab fa-facebook"></i></span>
                    <span class="icon_title">Connect with Facebook</span>

                </a>

                <a href="#" class="social_box google">
                    <span class="icon"><i class="fab fa-google-plus"></i></span>
                    <span class="icon_title">Connect with Google</span>
                </a>
            </div>

            <div class="centeredText">
                <span>Or use your Email address</span>
            </div>

            <div class="action_btns">
                <div class="one_half"><a href="#" id="login_form" class="btn">Login</a></div>
                <div class="one_half last"><a href="#" id="register_form" class="btn">Sign up</a></div>
            </div>
        </div>

        <!-- Username & Password Login form -->
        <div class="user_login">
            <form>
                <label>Email / Username</label>
                <input type="text" />
                <br />

                <label>Password</label>
                <input type="password" />
                <br />

                <div class="checkbox">
                    <input id="remember" type="checkbox" />
                    <label for="remember">Remember me on this computer</label>
                </div>

                <div class="action_btns">
                    <div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
                    <div class="one_half last"><a href="#" class="btn btn_red">Login</a></div>
                </div>
            </form>

            <a href="#" class="forgot_password">Forgot password?</a>
        </div>

        <!-- Register Form -->
        <div class="user_register">
            <form>
                <label>Full Name</label>
                <input type="text" />
                <br />

                <label>Email Address</label>
                <input type="email" />
                <br />

                <label>Password</label>
                <input type="password" />
                <br />

                <div class="checkbox">
                    <input id="send_updates" type="checkbox" />
                    <label for="send_updates">Send me occasional email updates</label>
                </div>

                <div class="action_btns">
                    <div class="one_half"><a href="#" class="btn back_btn"><i class="fa fa-angle-double-left"></i> Back</a></div>
                    <div class="one_half last"><a href="#" class="btn btn_red">Register</a></div>
                </div>
            </form>
        </div>
    </section>
</div>
  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12">
                    <img src="{% static 'lp_assets/images/logos123.png' %}">
                    <h2>Welcome to Assistance to Individuals in Crisis Situation - Harmonized Electronic Processing System </h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="{% static 'lp_assets/images/slider-dec.png' %}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="services" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h4>Look our <em>Transaction &amp; Summary</em> for you</h4>
            <img src="" alt="">
            {% comment %} <p>[System Description with Introduction]</p> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="service-item third-service">
            <div class="icon"></div>
            <h4>Total Cash Disbursed</h4>
            <h4>{{formatted_total_amount}}</h4>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service-item third-service">
            <div class="icon"></div>
            <h4>Total Client</h4>
            <h4>{{count_client|intcomma}}</h4>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="service-item third-service">
            <div class="icon"></div>
            <h4>Total Beneficiary</h4>
            <h4>{{count_bene|intcomma}}</h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="service-item third-service">
            <select id="monthFilter" onchange="filterTransactions()" class="form-control">
              <option value="All">All</option>
              {% for row in monthly_transactions %}
                <option value="{{ row.name }}">{{ row.name }}</option>
              {% endfor %}
            </select>
            <canvas id="countransaction" style="width:100%"></canvas>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="service-item third-service">
            <canvas id="sexdata" style="width:100%"></canvas>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="service-item third-service">
            <select id="clientCategoryDropdown" onchange="filterClientCategoryChart()" class="form-control">
              <option value="All">All</option>
              {% for row in summary_data %}
                <option value="{{ row.category }}">{{ row.category }}</option>
              {% endfor %}
            </select>
            <canvas id="clientCategoryChart" style="width:100%"></canvas>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="service-item third-service">
            <select id="filter" class="form-control">
              <option value="all">All</option>
              {% for row in sub_category %}
                <option value="{{ row.category|escapejs }}">{{ row.category }}</option>
              {% endfor %}
            </select>
            <canvas id="clientsubcategory" style="width:100%"></canvas>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="service-item third-service">
            <select id="disabilityDropdown" onchange="filterDisabilityChart()" class="form-control">
              <option value="All">All</option>
              {% for row in disability_storage %}
                <option value="{{ row.disability }}">{{ row.disability }}</option>
              {% endfor %}
            </select>
            <canvas id="disabilitydata" style="width:100%"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="services" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h4>Look our <em>Services &amp; Features</em> for you</h4>
            <img src="" alt="">
            {% comment %} <p>[System Description with Introduction]</p> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="service-item first-service">
            <div class="icon"></div>
            <h4>App Maintenance</h4>
            <p>You are not allowed to register in this website.</p>
            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item second-service">
            <div class="icon"></div>
            <h4>Rocket Speed of App</h4>
            <p>Website is fast and reliable.</p>
            <br>
            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item third-service">
            <div class="icon"></div>
            <h4>Data Privacy</h4>
            <p>Your data is safe here and this will not be given to anyone.</p>
            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item fourth-service">
            <div class="icon"></div>
            <h4>For inquiries</h4>
            <p>Please contact or dial this number aeohilado@dswd.gov.ph</p>
            <div class="text-button">
              <a href="#">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'lp_vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lp_vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'lp_assets/js/owl-carousel.js' %}"></script>
  <script src="{% static 'lp_assets/js/animation.js' %}"></script>
  <script src="{% static 'lp_assets/js/imagesloaded.js' %}"></script>
  <script src="{% static 'lp_assets/js/popup.js' %}"></script>
  <script src="{% static 'lp_assets/js/custom.js' %}"></script>
  <script src="{% static 'js/Chart.min.js' %}"></script>
  <script src="{% static 'js/datalabels.min.js' %}"></script>
  {% block script %}
  <script src="{% static 'js/datalabels.min.js' %}"></script>
  <script>

    // Initialize data arrays from Django context
    var categoryLabels = [{% for row in summary_data %}"{{ row.category }}",{% endfor %}];
    var categoryCounts = [{% for row in summary_data %}{{ row.count }},{% endfor %}];
    var chartColors = ["#FDFDBD", "#FF8787", "#CCD6A6", "#B8E8FC", "#C8FFD4"];
    
    // Initialize the Client Category chart
    var clientCategoryChart = new Chart("clientCategoryChart", {
      type: "bar",
      data: {
        labels: categoryLabels,
        datasets: [{
          backgroundColor: chartColors,
          data: categoryCounts
        }]
      },
      options: {
        legend: { display: false },
        title: {
          display: true,
          text: "Client Category"
        }
      }
    });
  
    // Function to update the Client Category chart based on dropdown selection
    function filterClientCategoryChart() {
      var selectedCategory = document.getElementById("clientCategoryDropdown").value;
  
      if (selectedCategory === "All") {
        // Show all data if "All" is selected
        clientCategoryChart.data.labels = categoryLabels;
        clientCategoryChart.data.datasets[0].data = categoryCounts;
        clientCategoryChart.data.datasets[0].backgroundColor = chartColors;
      } else {
        // Filter to show only the selected category
        var filteredIndex = categoryLabels.indexOf(selectedCategory);
  
        if (filteredIndex !== -1) {
          clientCategoryChart.data.labels = [categoryLabels[filteredIndex]];
          clientCategoryChart.data.datasets[0].data = [categoryCounts[filteredIndex]];
          clientCategoryChart.data.datasets[0].backgroundColor = [chartColors[filteredIndex]];
        } else {
          // Handle case where the category is not found
          clientCategoryChart.data.labels = [];
          clientCategoryChart.data.datasets[0].data = [];
          clientCategoryChart.data.datasets[0].backgroundColor = [];
        }
      }
  
      // Update the chart with the filtered data
      clientCategoryChart.update();
    }
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var allXValues = [{% for row in sub_category %}"{{ row.category|escapejs }}",{% endfor %}];
      var allYValues = [{% for row in sub_category %}{{ row.count }},{% endfor %}];
      var barColors = ["#FDFDBD", "#FF8787", "#CCD6A6", "#B8E8FC", "#C8FFD4", "#FDFDBD", "#FF8787", "#CCD6A6", "#B8E8FC", "#C8FFD4", "#FDFDBD", "#FF8787", "#CCD6A6", "#B8E8FC", "#C8FFD4"];
  
      // Create chart instance
      var ctx = document.getElementById("clientsubcategory").getContext('2d');
      var countstaffChart = new Chart(ctx, {
        type: "bar",
        data: {
          labels: allXValues,
          datasets: [{
            backgroundColor: barColors,
            data: allYValues
          }]
        },
        options: {
          legend: { display: false },
          title: {
            display: true,
            text: "Client Sub Category"
          }
        }
      });
  
      // Function to update chart data
      function updateChart(category) {
        var xValues = [];
        var yValues = [];
  
        if (category === "all") {
          xValues = allXValues;
          yValues = allYValues;
        } else {
          for (var i = 0; i < allXValues.length; i++) {
            if (allXValues[i] === category) {
              xValues.push(allXValues[i]);
              yValues.push(allYValues[i]);
            }
          }
        }
  
        // Update chart data
        countstaffChart.data.labels = xValues;
        countstaffChart.data.datasets[0].data = yValues;
        countstaffChart.update();
      }
  
      // Handle filter change
      $('#filter').on('change', function() {
        var selectedCategory = $(this).val();
        updateChart(selectedCategory);
      });
    });
  </script>
  <script>
    var allXValues = [{% for row in monthly_transactions  %}"{{ row.name  }}",{% endfor %}];
    var allYValues = [{% for row in monthly_transactions  %}{{row.count}},{% endfor %}];
    var originalBarColors = ["#FDFDBD", "#FF8787","#CCD6A6","#B8E8FC","#C8FFD4","#FDFDBD", "#FF8787","#CCD6A6","#B8E8FC","#C8FFD4","#FDFDBD", "#FF8787","#CCD6A6","#B8E8FC","#C8FFD4"];
  
    var chart = new Chart("countransaction", {
      type: "bar",
      data: {
        labels: allXValues, // Start by displaying all months
        datasets: [{
          backgroundColor: originalBarColors,
          data: allYValues
        }]
      },
      options: {
        legend: {display: false},
        title: {
          display: true,
          text: "Client Transactions by Month (No distinction)"
        }
      }
    });
  
    function filterTransactions() {
      var selectedMonth = document.getElementById("monthFilter").value;
  
      if (selectedMonth === "All") {
        // Show all data if "All" is selected
        chart.data.labels = allXValues;
        chart.data.datasets[0].data = allYValues;
        chart.data.datasets[0].backgroundColor = originalBarColors;
      } else {
        // Filter to show only the selected month
        var filteredIndex = allXValues.indexOf(selectedMonth);
        chart.data.labels = [allXValues[filteredIndex]];
        chart.data.datasets[0].data = [allYValues[filteredIndex]];
        chart.data.datasets[0].backgroundColor = [originalBarColors[filteredIndex]];
      }
  
      // Update the chart with the filtered data
      chart.update();
    }
  </script>
  <script>
    (function() {
      const xValues = ["Male", "Female",];
      const yValues = [{{count_male}}, {{count_female}}];
      const barColors = [
        "#FDFDBD",
        "#C8FFD4",
      ];
  
      new Chart("sexdata", {
        type: "doughnut",
        data: {
          labels: xValues,
          datasets: [{
            backgroundColor: barColors,
            data: yValues
          }]
        },
        options: {
          title: {
            display: true,
            text: "CLIENTS SEX DISAGGREGATED DATA (Distinct applied)"
          }
        }
      });
    })();
  </script>
  <script>
    // Initialize data arrays from Django context
    var xValues = [{% for row in disability_storage %}"{{ row.disability|escapejs }}",{% endfor %}];
    var yValues = [{% for row in disability_storage %}{{ row.count }},{% endfor %}];
    var barColors = ["#FDFDBD", "#FF8787","#CCD6A6","#B8E8FC","#C8FFD4","#FDFDBD", "#FF8787","#CCD6A6","#B8E8FC","#C8FFD4","#FDFDBD", "#FF8787","#CCD6A6","#B8E8FC","#C8FFD4"];
  
    // Initialize the chart
    var disabilityChart = new Chart("disabilitydata", {
      type: "bar",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
        legend: { display: false },
        title: {
          display: true,
          text: "Disability Data"
        }
      }
    });
  
    // Function to update the chart based on dropdown selection
    function filterDisabilityChart() {
      var selectedDisability = document.getElementById("disabilityDropdown").value;
  
      if (selectedDisability === "All") {
        // Show all data if "All" is selected
        disabilityChart.data.labels = xValues;
        disabilityChart.data.datasets[0].data = yValues;
        disabilityChart.data.datasets[0].backgroundColor = barColors;
      } else {
        // Filter to show only the selected category
        var filteredIndex = xValues.indexOf(selectedDisability);
  
        if (filteredIndex !== -1) {
          disabilityChart.data.labels = [xValues[filteredIndex]];
          disabilityChart.data.datasets[0].data = [yValues[filteredIndex]];
          disabilityChart.data.datasets[0].backgroundColor = [barColors[filteredIndex]];
        } else {
          // Handle case where the category is not found
          disabilityChart.data.labels = [];
          disabilityChart.data.datasets[0].data = [];
          disabilityChart.data.datasets[0].backgroundColor = [];
        }
      }
  
      // Update the chart with the filtered data
      disabilityChart.update();
    }
  </script>
  {% endblock %}
</body>
</html>