{% extends 'layout.html' %}
{% block content %}
<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>User List</h3>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item">User</li>
                    <li class="breadcrumb-item active">List</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-user-modal"><i class="fa fa-plus"></i> Register User</button>
                    <br><br>
                    <div class="table-responsive text-nowrap table-scroll">
                        <table class="table table-responsive table-sm table-bordered" id="user-table">
                            <thead>
                                <th>Information</th>
                                <th>Change Password</th>
                                <th>Username</th>
                                <th>Full Name</th>
                                <th class="text-center">Email</th>
                                <th class="text-center">Role</th>
                                <th class="text-center">Staff</th>
                                <th class="text-center">Super User</th>
                                <th class="text-center">Updated By</th>
                                <th class="text-center">Updated At</th>
                                <th class="text-end">Status</th>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="add-user-modal">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header flex-column position-relative">
                <h5 class="modal-title f-w-700">REGISTER USER</h5>
                <small class="modal-subtitle">Please fill out the form below.</small>
                <button class="btn-close position-absolute" type="button" data-bs-dismiss="modal" oninput="this.value = this.value.toUpperCase()" aria-label="Close"></button>
            </div>
            <form id="submitForm">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="First name" id="first_name" name="first_name" oninput="this.value = this.value.toUpperCase()" autocomplete="off" required>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Middle name" id="middle_name" name="middle_name" oninput="this.value = this.value.toUpperCase()" autocomplete="off">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Last name" id="last_name" name="last_name" oninput="this.value = this.value.toUpperCase()" autocomplete="off" required>
                        </div>
                    </div>
                    <br>
                    <div class="form-group mb-3">
                        <input type="email" class="form-control" placeholder="Email" id="email" name="email" autocomplete="off" required>
                        <div class="invalid-feedback"></div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="Username" id="username" name="username" autocomplete="off" required>
                        </div>
                        <div class="col">
                            <input type="password" placeholder="password" class="form-control" id="password" name="password" required>
                            <p id="password-validation-message" style="color: red;"></p>
                            <div class="invalid-feedback"></div>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label>Group <span class="txt-danger">*</span></label>
                        <select class="form-control select" name="group" required>
                            <option></option>
                            {% for row in group %}
                            <option value="{{ row.id }}">{{ row.name|upper  }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <hr>
                    <small>The address below, is your area of assignment.</small>
                    <div class="row mb-3">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Region <span class="txt-danger">*</span></label>
                                <select class="form-control select" name="region" id="region" required>
                                    <option></option>
                                    {% for row in region %}
                                    <option value="{{ row.region_code }}">{{ row.region_name|upper  }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Province <span class="txt-danger">*</span></label>
                                <select class="form-control select" name="province" id="province" required></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>City <span class="txt-danger">*</span></label>
                                <select class="form-control select" name="city" id="city" required></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Barangay <span class="txt-danger">*</span></label>
                                <select class="form-control select" name="barangay" id="barangay" required></select>
                            </div>
                        </div>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="is_superuser" id="is_superuser">
                        <label class="form-check-label" for="inlineCheckbox1">Is Super User</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="is_staff" id="is_staff">
                        <label class="form-check-label" for="inlineCheckbox2">Is Staff</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" type="button" data-bs-dismiss="modal">Close</button>
                    <button class="btn btn-primary" type="submit">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="edit-user-modal" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header flex-column position-relative">
                <h5 class="modal-title f-w-700">EDIT USER</h5>
                <small class="modal-subtitle">Please fill out the form below.</small>
                <button class="btn-close position-absolute" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="edit-content"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="change_password" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form id="changepassword">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="staticBackdropLabel">Change password</small></h6>
                    <button type="button" class="btn-close" id="close_modal" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" value="{{ transaction.id }}" name="start_id" hidden>
                    <div class="form-group">
                        <div class="row mb-3">
                            <div class="form-group">
                                <label hidden>Client for this Assessment:</label>
                                <input type="text" id="empid" class="form-control" name="empid" readonly hidden>
                            </div>
                            <div class="form-group">
                                <label>New password</label>
                                <input type="password" name="password" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" align="left">
                    <button type="submit" class="btn btn-primary">Update Password</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    document.getElementById("password").addEventListener("input", function() {
      const password = this.value;
      const passwordValidationMessage = document.getElementById("password-validation-message");

      // Check if the password meets the criteria
      const hasUppercase = /[A-Z]/.test(password);
      const hasSpecialCharacter = /[!@#$%^&*()_+{}\[\]:;<>,.?~\\/-]/.test(password);
      const isLengthValid = password.length >= 8;

      if (hasUppercase && hasSpecialCharacter && isLengthValid) {
        passwordValidationMessage.textContent = "Password is valid.";
      } else {
        passwordValidationMessage.textContent = "Password must have at least 1 uppercase letter, 1 special character, and be at least 8 characters long.";
      }
    });
  </script>
<script>
    $(document).ready(function(){
        $('#user-table').DataTable({
            'serverSide': true,
            'processing': true,
            'deferRender': true,
            'lengthMenu': [ 25, 50, 100 ],
            'order': [[ 1, 'asc' ]],
            'bDestroy': true,
            'ajax': {
                'url': '/api/user/list/?format=datatables',
                'type': 'GET',
            },
            'fnCreatedRow': function (row, data, index) {
                $(row).attr('id', data['id']);
            },
            'columns': [
                {'data': 'id',
                    'render': function(data, type, row, meta) {
                        return "<a href='javascript:void(0);' data-role='edit' data-id='"+ row['id'] + "'>Edit</a>"
                    },
                    'searchable': false,
                    'sortable': false,
                    'className': 'text-center'
                },
                {'data': 'id',
                    'render': function(data, type, row, meta) {
                        return "<a href='javascript:void(0);' data-role='change_password' data-id='"+ row['id'] + "'>Update</a>"
                    },
                    'searchable': false,
                    'sortable': false,
                    'className': 'text-center'
                },
                {'data': 'username'},
                {'data': 'fullname', 'name': 'first_name, middle_name, last_name'},
                {'data': 'email', 'className': 'text-center', 'sortable': false},
                {'data': 'role', 'className': 'text-center', 'searchable': false, 'sortable': false },
                {'data': 'is_staff',
                    'render': function(data, type, row, meta) {
                        if(data == 1) {
                            return '<i class="fa fa-check-circle txt-success"></i>'
                        }else if (data == 0) {
                            return '<i class="fa fa-times-circle txt-danger"></i>'
                        }
                    },
                    'className': 'text-center',
                    'searchable': false,
                    'sortable': false
                },
                {'data': 'is_superuser',
                    'render': function(data, type, row, meta) {
                        if(data == 1) {
                            return '<i class="fa fa-check-circle txt-success"></i>'
                        }else if (data == 0) {
                            return '<i class="fa fa-times-circle txt-danger"></i>'
                        }
                    },
                    'className': 'text-center',
                    'searchable': false,
                    'sortable': false
                },
                {'data': 'updated_by', 'className': 'text-center', 'sortable': false, 'searchable': false},
                {'data': 'date_updated', 'className': 'text-center', 'sortable': false, 'searchable': false},
                {'data': 'is_active',
                    'render': function(data, type, row, meta) {
                        if(data == 1) {
                            return '<i class="fa fa-circle txt-success"></i> Active'
                        }else if (data == 0) {
                            return '<i class="fa fa-circle txt-danger"></i> Inactive'
                        }
                    },
                    'className': 'text-end',
                    'searchable': false,
                    'sortable': false
                },
            ]
        });

        function validationForm(){
            var invalid = false;
            $('.form-control').each(function() {
                if (/<[a-z][\s\S]*>/i.test($(this).val())) {
                    $(this).addClass('is-invalid');
                    $(this).next('.invalid-feedback').html("The field cannot contain HTML tags.")
                    invalid = true;
                }
            });
            return invalid;
        }

        function clearValidation(){
            $('.form-control').each(function() {
                $(this).removeClass('is-invalid');
                $(this).next('.invalid-feedback').html("");
            });
        }

        $('#submitForm').on('submit', function(e){
            e.preventDefault();
            if (!validationForm()){
                var form = new FormData(this);
                Swal.fire({
                    title: "Are you sure",
                    text: "You want to register this new user?",
                    icon: "info",
                    showCancelButton: true,
                    confirmButtonText: "Yes",
                    allowOutsideClick: false,
                    showLoaderOnConfirm: true,
                    preConfirm: function (){
                        return $.post({
                            url: "{% url 'user_list' %}",
                            data: form,
                            success : function (response){
                                if(!response.error){
                                    Swal.fire({
                                        title: "Good job!",
                                        html:  response.msg,
                                        icon: "success",
                                        allowOutsideClick: false,
                                    }).then((result) => {
                                        if (result.isConfirmed){
                                            $('#submitForm').trigger('reset');
                                            $('#user-table').DataTable().ajax.reload();
                                            clearValidation();
                                            $('#add-user-modal').modal('hide');
                                        }
                                    });
                                } else {
                                    Swal.fire('Oops...', response.msg, 'warning');
                                }
                            },
                            cache       : false,
                            contentType : false,
                            processData : false,
                        });
                    },
                });
            }
        });
        $('#changepassword').on('submit', function(e){
            e.preventDefault();
            if (!validationForm()){
                var form = new FormData(this);
                Swal.fire({
                    title: "Are you sure",
                    text: "You want to change this password?",
                    icon: "info",
                    showCancelButton: true,
                    confirmButtonText: "Yes",
                    allowOutsideClick: false,
                    showLoaderOnConfirm: true,
                    preConfirm: function (){
                        return $.post({
                            url: "{% url 'change_password' %}",
                            data: form,
                            success : function (response){
                                if(!response.error){
                                    Swal.fire({
                                        title: "Good job!",
                                        html:  response.msg,
                                        icon: "success",
                                        allowOutsideClick: false,
                                    }).then((result) => {
                                        if (result.isConfirmed){
                                            location.reload()
                                        }
                                    });
                                } else {
                                    Swal.fire('Oops...', response.msg, 'warning');
                                }
                            },
                            cache       : false,
                            contentType : false,
                            processData : false,
                        });
                    },
                });
            }
        });        
        $(document).on('click', 'a[data-role=edit]', function(){
            $('#edit-content').load('/users/edit/' + $(this).data('id'), function(){
                $('#edit-user-modal').modal('show');
            });
        });
        $(document).on('click','a[data-role=change_password]', function(){ 
            var id = $(this).data('id');
            $('#empid').val(id)
            $('#change_password').modal('show');
            //$('#modalProvided').modal('show').find('#load_data').load('/requests/provided/' +id);
        });
        var select2options = {
            width: "100%",
            containerCssClass: 'select',
            placeholder: 'Choose',
        }
        new Select2Cascade($('#region'), $('#province'), '/libraries/province/get/:parentId:', select2options);
        new Select2Cascade($('#province'), $('#city'), '/libraries/city/get/:parentId:', select2options);
        new Select2Cascade($('#city'), $('#barangay'), '/libraries/barangay/get/:parentId:', select2options);
    });
</script>
{% endblock %}