{% load tags %}
{% load static %}
{% load humanize %}
<style>
    .modal-xxl {
        max-width: 75%;
    }

    .modal-xxl .modal-dialog {
        max-width: 65%;
        width: auto;
    }
    #canvas {
        border-radius: 50%; /* Make the canvas circular */
        overflow: hidden; /* Ensure content outside the border-radius is hidden */
    }
    .avatar {
        border-radius: 50%; /* Make the canvas circular */
        overflow: hidden; /* Ensure content outside the border-radius is hidden */
    }
</style>
<div class="row" id="client_content">
    <a href="javascript:void(0);" id="back"><i class="fa fa-angle-double-left"></i>Back</a>
    <hr>
    <div class="col-sm-12">
        <div class="text-center">
          <div class="cardheader"></div>
          <div class="user-image">
            {% if pict %}
            <div>
                <img class="avatar" alt="" src="{{pict.file_field1.url}}" alt="avatar" width="150" height="150">
            </div>
            {% else %}
                {% if transaction.client.sex.name == "Male" %}
                <div class="avatar"><img class="avatar" src="{% static 'images/user/male.png' %}" alt="avatar" width = "150" height = "150"></div>
                {% elif transaction.client.sex.name == "Female" %}
                <div class="avatar"><img class="avatar" src="{% static 'images/user/female.png' %}" alt="avatar" width = "150" height = "150"></div>
                {% endif %}
            {% endif %}
          </div>
          <div class="info">
            <div class="row">
                <div class="col-sm-6 col-lg-4 order-sm-1 order-xl-0">
                    <div class="row">
                    <div class="col-md-6">
                        <div class="ttl-info text-start">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="ttl-info text-start">
                        <h6><i class="fa fa-calendar"></i> Tracking Number</h6><span class="badge badge-primary">{{ transaction.tracking_number|upper }}</span>
                        </div>
                    </div>
                    </div>
                </div>
              <div class="col-sm-12 col-lg-4 order-sm-0 order-xl-1">
                <div class="user-designation">
                    <div class="title">{{ transaction.client.get_client_fullname_formatted|upper }}</div>
                    <div class="desc">Representative</div>
                </div>
              </div>
              <div class="col-sm-6 col-lg-4 order-sm-2 order-xl-2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="ttl-info text-start">
                            <h6><i class="fa fa-phone"></i> Contact Number</h6><span>{{ transaction.client.contact_number|upper }}</span>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <hr>
          </div>
        </div>
    </div>
    <br><br><br><br>
    <ul class="nav nav-pills" id="tabUL" role="tablist">
        <li class="nav-item">
            <a class="nav-link" id="pills-information" data-bs-toggle="pill" href="#information" role="tab">
                <i class="fa fa-file-o"></i> Information
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-assessment" data-bs-toggle="pill" href="#assessment" role="tab">
                <i class="fa fa-question"></i> Assessment
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-timeline" data-bs-toggle="pill" href="#for-action" role="tab">
                <i class="fa fa-calendar-o"></i> Tracking
            </a>
        </li>
        &nbsp;&nbsp;
        {% comment %} {% if transaction.fund_source_id %}
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="modal" data-bs-target="#modalProvided" data-role='add_provided' data-id="{{ transaction.id }}" role="tab">
                <i class="fa fa-id-card-o"></i> Data provided
            </a>
        </li>
        {% endif %} {% endcomment %}
    </ul>
    <div class="tab-content" id="pills-icontabContent">
        <div class="tab-pane fade show active m-t-30" id="information" role="tabpanel" readonly>
            <small>Client Identifying Information</small>
            <br><br>
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Client Name</label>
                        <input type="text" class="form-control" value="{{ transaction.client.get_client_fullname|upper }}" readonly>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Birthdate</label>
                        <input type="date" class="form-control" id="birthdate" value="{{ transaction.client.birthdate|date:'Y-m-d' }}" readonly>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label>Age</label>
                        <input type="text" class="form-control" id="age" value="{{ transaction.client.get_age }}" readonly>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Sex</label>
                        <input type="text" class="form-control" id="sex" value="{{ transaction.client.sex.name|upper }}" readonly>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Relationship to Beneficiary</label>
                        <input type="text" class="form-control" value="{{ transaction.relation.name|upper }}" readonly>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Contact Number</label>
                        <input type="text" class="form-control" id="contact_number" value="{{ transaction.client.contact_number }}" readonly>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Civil Status</label>
                        <input type="text" class="form-control" id="civil_status" value="{{ transaction.client.civil_status.name|upper }}" readonly>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Region <span class="txt-danger">*</span></label>
                        <input type="text" class="form-control" id="civil_status" value="{{ transaction.client.barangay.city_code.prov_code.region_code.region_name|upper }}" readonly>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Province <span class="txt-danger">*</span></label>
                        <input type="text" class="form-control" id="civil_status" value="{{ transaction.client.barangay.city_code.prov_code.prov_name|upper }}" readonly>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>City <span class="txt-danger">*</span></label>
                        <input type="text" class="form-control" id="civil_status" value="{{ transaction.client.barangay.city_code.city_name|upper }}" readonly>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Barangay <span class="txt-danger">*</span></label>
                        <input type="text" class="form-control" id="civil_status" value="{{ transaction.client.barangay.brgy_name|upper }}" readonly>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>House / Block / Lot No.</label>
                        <input type="text" class="form-control" id="house_no" value="{{ transaction.client.house_no|upper }}" readonly>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Street</label>
                        <input type="text" class="form-control" id="street" value="{{ transaction.client.street|upper }}" readonly>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Subdivision / Village</label>
                        <input type="text" class="form-control" id="village" value="{{ transaction.client.village|upper }}" readonly>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>ID Presented</label>
                        <input type="text" class="form-control" id="is_4psmember" value="{% if transaction.client.presented %}{{transaction.client.presented.presented}}{% else %}NO{% endif %}" readonly>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>4Ps ID Number</label>
                        <input type="text" class="form-control" id="4ps_id_number" value="{% if transaction.client.presented_id_no %}{{ transaction.client.presented_id_no }}{% else %}N/A{% endif %}" readonly>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label>4Ps Member</label>
                        <input type="text" class="form-control" id="is_4psmember" value="{% if transaction.client.is_4ps %}YES{% else %}NO{% endif %}" readonly>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>4Ps ID Number</label>
                        <input type="text" class="form-control" id="4ps_id_number" value="{% if transaction.client.number_4ps_id_number %}{{ transaction.client.number_4ps_id_number }}{% else %}N/A{% endif %}" readonly>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label>Indigenous People</label>
                        <input type="text" class="form-control" id="indi" value="{% if transaction.client.is_indi %}YES{% else %}NO{% endif %}" readonly>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Tribe</label>
                        <input type="text" class="form-control" id="tribe" value="{% if transaction.client.tribu %}{{ transaction.client.tribu.name|upper }}{% else %}N/A{% endif %}" readonly>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Occupation <span class="txt-danger">*</span></label>
                        <select class="form-control select" name="occupation_data" disabled>
                            <option></option>
                            {% for row in occupation %}
                            {% if row.id == transaction.client.occupation.id %}
                            <option value="{{ row.id }}" selected>{{ row.occupation_name|upper }}</option>
                            {% else %}
                            <option value="{{ row.id }}">{{ row.occupation_name|upper  }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Salary <span class="txt-danger">*</span></label>
                        <input type="text" class="form-control" value="{{transaction.client.salary}}" name="salary" autocomplete="off" required readonly>
                    </div>
                </div>
            </div>
            <hr>
            {% if transaction.client_id != transaction.bene_id %}
            <small>Beneficiary Identifying Information</small>
            <br><br>
            <div class="row mb-3">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Beneficiary Name</label>
                        <input type="text" class="form-control" value="{{ transaction.bene.get_client_fullname|upper }}" readonly>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Birthdate</label>
                        <input type="date" class="form-control" id="bene_birthdate" value="{{ transaction.bene.birthdate|date:'Y-m-d' }}" readonly>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class="form-group">
                        <label>Age</label>
                        <input type="text" class="form-control" id="bene_age" value="{{ transaction.bene.get_age }}" readonly>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Sex</label>
                        <input type="text" class="form-control" id="bene_sex" value="{{ transaction.bene.sex.name|upper }}" readonly>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Contact Number</label>
                        <input type="text" class="form-control" id="bene_contact_number" value="{{ transaction.bene.contact_number }}" readonly>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Civil Status</label>
                        <input type="text" class="form-control" id="bene_civil_status" value="{{ transaction.bene.civil_status.name|upper }}" readonly>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Indigenous People</label>
                        <input type="text" class="form-control" id="bene_indi" value="{% if transaction.bene.is_indi %}YES{% else %}NO{% endif %}" readonly>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Tribe</label>
                        <input type="text" class="form-control" id="bene_tribe" value="{% if transaction.bene.tribu.name %}{{ transaction.bene.tribu.name|upper }}{% else %}N/A{% endif %}" readonly>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Region <span class="txt-danger">*</span></label>
                        <input type="text" class="form-control" id="civil_status" value="{{ transaction.bene.barangay.city_code.prov_code.region_code.region_name|upper }}" readonly>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Province <span class="txt-danger">*</span></label>
                        <input type="text" class="form-control" id="civil_status" value="{{ transaction.bene.barangay.city_code.prov_code.prov_name|upper }}" readonly>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>City <span class="txt-danger">*</span></label>
                        <input type="text" class="form-control" id="civil_status" value="{{ transaction.bene.barangay.city_code.city_name|upper }}" readonly>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Barangay <span class="txt-danger">*</span></label>
                        <input type="text" class="form-control" id="civil_status" value="{{ transaction.bene.barangay.brgy_name|upper }}" readonly>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>House / Block / Lot No.</label>
                        <input type="text" class="form-control" id="bene_house_no" value="{{ transaction.bene.house_no|upper }}" readonly>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Street</label>
                        <input type="text" class="form-control" id="bene_street" value="{{ transaction.bene.street|upper }}" readonly>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Subdivision / Village</label>
                        <input type="text" class="form-control" id="bene_village" value="{{ transaction.bene.village|upper }}" readonly>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>4Ps Member</label>
                        <input type="text" class="form-control" id="bene_is_4psmember" value="{% if transaction.bene.is_4ps %}YES{% else %}NO{% endif %}" readonly>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>4Ps ID Number</label>
                        <input type="text" class="form-control" id="bene_4ps_id_number" value="{% if transaction.bene.number_4ps_id_number %}{{ transaction.bene.number_4ps_id_number }}{% else %}N/A{% endif %}" readonly>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Occupation <span class="txt-danger">*</span></label>
                        <select class="form-control select" name="occupation_data" disabled>
                            <option></option>
                            {% for row in occupation %}
                            {% if row.id == transaction.bene.occupation.id %}
                            <option value="{{ row.id }}" selected>{{ row.occupation_name|upper }}</option>
                            {% else %}
                            <option value="{{ row.id }}">{{ row.occupation_name|upper  }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Salary <span class="txt-danger">*</span></label>
                        <input type="text" class="form-control" value="{{transaction.bene.salary}}" name="salary" autocomplete="off" required readonly>
                    </div>
                </div>
            </div>
            {% else %}
            <small>Client and Benefiary are the same</small>
            <br>
            {% endif %}
            <hr>
            <small>Beneficiary Family Composistion</small>
            <br>
            <form id="submitFamilyComposition">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="table-responsive">
                        <table class="table table-bordered w-100 table-sm" id="family-composition-table">
                            <thead>
                                <th width="30%">Full Name</th>
                                <th class="text-center">Sex</th>
                                <th width="200px;" class="text-center">Birthday/Age</th>
                                <th class="text-center">Relationship</th>
                                <th class="text-center">Occupation</th>
                                <th width="250px;" class="text-center">Salary per month</th>
                                <th>
                                    <center>
                                        <button type="button" class="btn btn-primary btn-xs" id="add-family"><i class="fa fa-plus"></i></button>
                                    </center>
                                </th>
                            </thead>           
                            <tbody>
                                {% if family_composistion%}
                                    {% for family in family_composistion %}
                                    <tr>
                                        <td>
                                            <input type="text" class="form-control" value="{{ family.first_name }}" name="first_name[]" placeholder="First Name" autocomplete="off"><br>
                                            <input type="text" class="form-control" value="{{ family.middle_name }}" name="middle_name[]" placeholder="Middle Name" autocomplete="off"><br>
                                            <input type="text" class="form-control" value="{{ family.last_name }}" name="last_name[]" placeholder="Last Name" autocomplete="off"><br>
                                            <select class="form-control select" name="suffix[]">
                                                <option></option>
                                                {% for row in suffix %}
                                                {% if row.id == family.suffix_id %}
                                                <option value="{{ row.id }}" selected>{{ row.name }}</option>
                                                {% else %}
                                                <option value="{{ row.id }}">{{ row.name }}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                            <div class="invalid-feedback"></div>
                                        </td>
                                        <td valign="middle">
                                            <select class="form-control select" name="rosterSex[]" required>
                                                <option></option>
                                                {% for row in sex %}
                                                {% if row.id == family.sex_id %}
                                                <option value="{{ row.id }}" selected>{{ row.name }}</option>
                                                {% else %}
                                                <option value="{{ row.id }}">{{ row.name }}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td valign="middle">
                                            <input type="text" class="form-control" name="age[]" value="{{ family.age }}">
                                        </td>
                                        <td valign="middle">
                                            <select class="form-control select" name="relation[]">
                                                <option></option>
                                                {% for row in relation %}
                                                {% if row.id == family.relation_id %}
                                                <option value="{{ row.id }}" selected>{{ row.name }}</option>
                                                {% else %}
                                                <option value="{{ row.id }}">{{ row.name }}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td valign="middle">
                                            <select class="form-control select" name="occupation[]">
                                                <option></option>
                                                {% for row in occupation %}
                                                {% if row.id == family.occupation_id %}
                                                <option value="{{ row.id }}" selected>{{ row.occupation_name }}</option>
                                                {% else %}
                                                <option value="{{ row.id }}">{{ row.occupation_name }}</option>
                                                {% endif %}
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td valign="middle">
                                            <input type="text" class="form-control" name="salary[]" value="{{ family.salary }}" autocomplete="off">
                                            <div class="invalid-feedback"></div>
                                        </td>
                                        <td valign="middle">
                                            <center>
                                                <a href='#' data-role='delete_fam_composition' data-id="{{family.id}}"><i class="fa fa-minus"></i></a>
                                            </center>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade m-t-30" id="assessment" role="tabpanel">
            <form id="submitAssessmentForm">
                <input type="text" value="{{transaction.id}}" name="transaction_id" hidden>
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col-md-3">
                        <input class="form-check-input" id="is_referral" name="is_referral" value="1" type="checkbox" {% if transaction.is_referral %} checked {% else %} {% endif %}> REFERRAL <br>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>New / Returning <span class="txt-danger">*</span></label>
                            <select class="form-control select" name="new_returning" required>
                                <option></option>
                                {% if transaction.is_return_new == 1 %}
                                <option value="1" selected>New</option>
                                <option value="2">Returning</option>
                                {% else %}
                                <option value="1">New</option>
                                <option value="2"selected>Returning</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Relationship to beneficiary <span class="txt-danger">*</span></label>
                            <select class="form-control select" name="relationship" required>
                                {% for row in relation %}
                                {% if row.id == transaction.relation_id %}
                                <option value="{{ row.id }}" selected>{{ row.name|upper }}</option>
                                {% else %}
                                <option value="{{ row.id }}">{{ row.name|upper }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Priority <span class="txt-danger">*</span></label>
                            <select class="form-control select" name="priority_name" required>
                                {% for row in PriorityLine %}
                                {% if row.id == transaction.priority_id %}
                                <option value="{{ row.id }}" selected>{{ row.priority_name|upper }}</option>
                                {% else %}
                                <option value="{{ row.id }}">{{ row.priority_name|upper }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Case Study <span class="txt-danger">*</span></label>
                            <select class="form-control select" name="case_study" required>
                                <option></option>
                                {% if transaction.is_case_study == 1 %}
                                <option value="1" selected>NO</option>
                                <option value="2">YES</option>
                                {% else %}
                                <option value="1">NO</option>
                                <option value="2"selected>YES</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label>Client's Category</label>
                            <select class="form-control select" name="client_category" required>
                                {% for row in category %}
                                {% if row.id == transaction.client_category_id %}
                                <option value="{{ row.id }}" selected>{{ row.name|upper }}</option>
                                {% else %}
                                <option value="{{ row.id }}">{{ row.name|upper }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>Sub-Category</label>
                            <select class="form-control select" name="client_subcategory" required>
                                {% for row in sub_category %}
                                {% if row.id == transaction.client_sub_category_id %}
                                <option value="{{ row.id }}" selected>{{ row.name|upper }}</option>
                                {% else %}
                                <option value="{{ row.id }}">{{ row.name|upper }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label>Beneficiary's Category</label>
                            <select class="form-control select" name="beneficiary_category" required>
                                {% for row in category %}
                                {% if row.id == transaction.bene_category_id %}
                                <option value="{{ row.id }}" selected>{{ row.name|upper }}</option>
                                {% else %}
                                <option value="{{ row.id }}">{{ row.name|upper }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label>Sub-Category</label>
                            <select class="form-control select" name="bene_subcategory" required>
                                {% for row in sub_category %}
                                {% if row.id == transaction.bene_sub_category_id %}
                                <option value="{{ row.id }}" selected>{{ row.name|upper }}</option>
                                {% else %}
                                <option value="{{ row.id }}">{{ row.name|upper }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Purpose <span class="txt-danger">*</span></label>
                        <select class="form-control select" name="sw_purpose" required>
                            {% for row in purpose %}
                            {% if row.name == Problem_Assessment.problem_presented %}
                            <option value="{{ row.name }}" selected>{{ row.name|upper }}</option>
                            {% else %}
                            <option value="{{ row.name }}">{{ row.name|upper }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% comment %} <div class="row mb-3">
                    <div class="form-group">
                        <label>Purpose</label>
                        <textarea class="form-control" name="sw_purpose" rows="6" cols="40"> {% if Problem_Assessment.problem_presented == None %}{% else %}{{ Problem_Assessment.problem_presented|upper }}{% endif %}</textarea>
                    </div>
                </div> {% endcomment %}
                <div class="row mb-3">
                    <div class="form-group">
                        <label>Social Worker's Assessment</label>
                        <textarea class="form-control" name="sw_asessment" rows="10" cols="40" required>{% if Problem_Assessment.sw_assessment == None %}{% else %}{{ Problem_Assessment.sw_assessment|upper }}{% endif %}</textarea>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label>Provided with</label><br>
                            &nbsp; <input class="form-check-input" id="gl" name="hot_meals" value="1" type="checkbox" {% if transaction.provided_hotmeal %} checked {% else %} {% endif %}> HOT MEALS
                            &nbsp; &nbsp; &nbsp;<input class="form-check-input" id="cv" name="food_packs" value="1" type="checkbox" {% if transaction.provided_foodpack %} checked {% else %} {% endif %}> FOOD PACKS
                            &nbsp; &nbsp; &nbsp;<input class="form-check-input" id="pcv" name="hygiene_kit" value="1" type="checkbox" {% if transaction.provided_hygienekit %} checked {% else %} {% endif %}> HYGIENE KIT
                        </div>
                    </div>
                </div>
                <small>Recommended Services and Assistance</small>
                <hr>
                <br>
                <div class="row mb-3">
                    <div class="col-md-7">
                        <div class="form-group">
                            &nbsp; <input class="form-check-input" id="gl" name="guarantee_letter" value="1" type="checkbox" {% if transaction.is_gl == 1 %} checked {% else %} {% endif %}> Guarantee Letter
                            &nbsp; &nbsp; &nbsp;<input class="form-check-input" id="" name="ce_gl" value="1" type="checkbox" {% if transaction.is_ce_gl %} checked {% endif %}> CE Guaratantee Letter
                            &nbsp; &nbsp; &nbsp;<input class="form-check-input" id="cv" name="cash_voucher" value="1" type="checkbox" {% if transaction.is_cv == 1 %} checked {% else %} {% endif %}> Cash Voucher
                            &nbsp; &nbsp; &nbsp;<input class="form-check-input" id="pcv" name="petty_cash" value="1" type="checkbox" {% if transaction.is_pcv == 1 %} checked {% else %} {% endif %}> Petty Cash Voucher
                            &nbsp; &nbsp; &nbsp;<input class="form-check-input" id="" name="ce_cash" value="1" type="checkbox" {% if transaction.is_ce_cash %} checked {% endif %}> CE Cash
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Assistance Type <span class="txt-danger">*</span></label>
                            <select class="form-control select" name="assistance_type" id="assistance_type" required>
                                {% for row in assistance_type %}
                                {% if row.id == transaction.lib_type_of_assistance_id %}
                                <option value="{{ row.id }}" selected>{{ row.type_name|upper }}</option>
                                {% else %}
                                <option value="{{ row.id }}">{{ row.type_name|upper }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Assistance Category <span class="txt-danger">*</span></label>
                            <select class="form-control select" name="assistance_category" id="assistance_category" required>
                                {% for row in TypeOfAssistance %}
                                {% if row.id == transaction.lib_assistance_category_id %}
                                <option value="{{ row.id }}" selected>{{ row.name|upper }}</option>
                                {% else %}
                                <option value="{{ row.id }}">{{ row.name|upper }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Fund Source <span class="txt-danger">*</span></label>
                            <select class="form-control select" name="fund_source" id="fund_source" required>
                                <option></option>
                                {% for row in fund_source %}
                                {% if row.id == transaction.fund_source_id %}
                                <option value="{{ row.id }}" selected>{{ row.name|upper }}</option>
                                {% else %}
                                <option value="{{ row.id }}">{{ row.name|upper }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Service Provider <span class="txt-danger">*</span></label>
                            <select class="form-control select" name="service_provider" id="service_pr" required>
                                <option></option>
                                {% for row in service_provider  %}
                                {% if row.id == transaction.service_provider_id %}
                                <option value="{{ row.id }}" selected>{{ row.name|upper }}</option>
                                {% else %}
                                <option value="{{ row.id }}">{{ row.name|upper }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                {% if requirements %}
                <div class="col-md-4">
                    <div class="alert alert-dark" role="alert">
                        Click File: <a href={{requirements.requirements_uploaded.url}} target="_blank">Requirements.pdf</a><br>
                    </div>
                </div>
                {% endif %}
                <br>
                <button type="submit" class="btn btn-primary btn-lg">UPDATE</button>
            </form>
        </div>
        <div class="tab-pane fade m-t-30" id="for-action" role="tabpanel">
            <div class="row mb-3">
                <div class="col-lg-12">
                    <p class="text-center">Timeline</p>
                    <section style="background-color: #F0F2F5;">
                        <div class="container py-5">
                          <div class="main-timeline">
                            {% if transaction_status.is_verified %}
                            <div class="timeline left">
                                <div class="card">
                                    <div class="card-body p-4">
                                    <h3>Verifier Side Information</h3>
                                    <p class="mb-0">Date Start: {{transaction_status.verified_time_start}} Date End: {{transaction_status.verified_time_end}}.</p>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if transaction_status.is_swo %}
                            <div class="timeline right">
                                <div class="card">
                                    <div class="card-body p-4">
                                    <h3>Social Worker Side Information</h3>
                                    <p class="mb-0">Time Start: {{transaction_status.swo_time_start}} Time End: {{transaction_status.swo_time_end}}.</p>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if transaction_status.is_verified == 1 and transaction_status.is_swo == 1 %}
                            <div class="timeline left">
                                <div class="card">
                                    <div class="card-body p-4">
                                        <h3>Transaction Ended</h3>
                                        <p class="mb-0">Transaction Start: {{transaction_status.verified_time_start}} and Transaction End: {{transaction_status.swo_time_end}}.</p>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                          </div>
                        </div>
                      </section>
                </div>
            </div>
        </div>
        <div class="modal fade" id="add_fundsource" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <form id="add_fund_source">
                {% csrf_token %}
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Add Fund Source</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row mb-3">
                                <div class="form-group">
                                    <label>Fund Source</label>
                                    <input type="text" class="form-control" name="fund_source" placeholder="Add Fund Source">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal fade bd-example-modal-xxl" id="modalProvided" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-xxl">
                <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="modalProvidedLabel">Data provided</h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="load_data">
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
{% block script %}
<script>
    $(document).ready(function(){
        {% if transaction_status.swo_time_start == null %}
        $("#check").modal('show');
        {% else %}
            {% if transaction_status.status == 7 %}
            $("#check").modal('show');
            {% endif%}
        {% endif %}

        var $option = $("<option selected></option>").val('{{ transaction.service_provider_id }}').text('{{ transaction.service_provider.name }}');
        $('#service_provider').append($option).trigger('change');

        $('.select').select2({
            width: '100%',
            placeholder: 'CHOOSE',
            containerCssClass: 'select'
        });
        $('#back, #close_modal').on('click', function(){
            window.location.href = "{% url 'cash' %}"
        });

        function validationForm(){
            var invalid = false;
            $('.form-control').each(function() {
                if (/<[a-z][\s\S]*>/i.test($(this).val())) {
                    $(this).addClass('is-invalid');
                    $(this).next('.invalid-feedback').html("The field cannot contain HTML tags.")
                    invalid = true;
                }
            });
            return invalid;
        }
        var select2options = {
            width: "100%",
            containerCssClass: 'select',
            placeholder: 'Choose',
        }
        new Select2Cascade($('#assistance_type'), $('#assistance_category'), '/requests/category/get/:parentId:', select2options);

        new Select2Cascade($('#assistance_category'), $('#sub_type_of_assistance'), '/requests/sub_category/get/:parentId:', select2options);

        $('#submitAssessmentForm').on('submit', function(e){
            e.preventDefault();
            var form = new FormData(this);
            if (!validationForm()){
                Swal.fire({
                    title: "Are you sure",
                    text: "You want to update this data?",
                    icon: "info",
                    showCancelButton: true,
                    confirmButtonText: "Yes",
                    allowOutsideClick: false,
                    showLoaderOnConfirm: true,
                    preConfirm: function (){
                        return $.post({
                            url: "{% url 'view_transaction' transaction.id %}",
                            data: form,
                            success : function (response){
                                if(!response.error){
                                    Swal.fire({
                                        title: "Good job!",
                                        html:  response.msg,
                                        icon: "success",
                                        allowOutsideClick: false,
                                    }).then((result) => {
                                        if (result.isConfirmed){
                                            $('#client_content').load('/cash-transaction/transaction/view/{{ transaction.id }}');
                                        }
                                    });
                                }
                            },
                            cache       : false,
                            contentType : false,
                            processData : false,
                        });
                    },
                });
            }
        });
        $(document).on('click','a[data-role=add_provided]', function(){ // FOR MODAL PASS TO DIFFERENT MODAL
            var id = $(this).data('id');
            $('#empid').val(id)
            $('#modalProvided').modal('show').find('#load_data').load('/requests/provided/' +id);
        });

    });
</script>
{% endblock %}