{% extends 'layout.html' %}
{% block content %}
<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>Billed outside region</h3>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item">Outside</li>
                    <li class="breadcrumb-item active">list</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <br><br>
                    <table class="table table-sm table-bordered table-hover w-100" id="outside-fo">
                        <thead>
                            <th>Action</th>
                            <th>Voucher</th>
                            <th>GL Number</th>
                            <th>Service provider</th>
                            <th>Name</th>
                            <th>Assistance Type</th>
                            <th>Amount</th>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script for="init">
    $(document).ready(function(){
        $('#outside-fo').DataTable({
            'serverSide': true,
            'processing': true,
            'deferRender': true,
            'lengthMenu': [ 25, 50, 100 ],
            'order': [[ 1, 'asc' ]],
            'bDestroy': true,
            'ajax': {
                'url': '/api/requests/finance/outside/fo/?format=datatables',
                'type': 'GET',
                'data': function(d) {
                    d.page = d.start / d.length + 1;  // Calculate the current page based on start and length
                    d.page_size = d.length;  // Send the page size
                },
            },
            'fnCreatedRow': function (row, data, index) {
                $(row).attr('id', data['id']);
            },
            'columns': [
                {'data': 'id',
                    'render': function(data, type, row, meta) {
                        return "<a href='#' data-role='delete', 'className': 'text-center', data-id="+ row['id'] + ">REMOVE</a>"
                    },
                    'sortable': false,
                    'searchable': false
                },
                {'data': 'voucher','name':'voucher.voucher_title', 'className': 'text-start', 'sortable': false },
                {'data': 'glnumber', 'className': 'text-start', 'sortable': false },
                {'data': 'service_provider','name':'service_provider.name', 'className': 'text-start', 'sortable': false },
                {'data': 'client_name', 'className': 'text-start', 'sortable': false },
                {'data': 'assistance_type', 'className': 'text-start', 'sortable': false },
                {'data': 'amount', 'className': 'text-center', 'searchable': false, 'sortable': false,
                    'render': function(data, type, row, meta) {
                        // Check if total_amount is null or undefined
                        if (data === null || data === undefined) {
                            return 'N/a';
                        }
                        // Check if data already contains commas
                        if (data.includes(',')) {
                            // Retain the original formatting if already contains commas
                            return data;
                        }
                        // Format the total_amount with commas for thousands (PHP currency) without the "P" symbol
                        return parseFloat(data).toLocaleString('en-PH', { minimumFractionDigits: 2, maximumFractionDigits: 2 });
                    }
                },
            ]
        });

        $(document).on('click', 'a[data-role=delete]', function(){
            var id = $(this).data('id');
            Swal.fire({
              title: "Are you sure",
              text: "You want to delete this?",
              icon: "warning",
              showCancelButton: true,
              confirmButtonColor: "#3498DB",
              confirmButtonText: "Yes",
              allowOutsideClick: false,
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.showLoading()
                    $.ajax({
                        url: "{% url 'remove_data_outside_fo' %}",
                        data: {
                            id: id
                        },
                        type: "POST"
                    })
                    .done(function(data){
                        if (data.data == 'success'){
                            Swal.fire({
                              title: "Good job!",
                              text: "Data removed",
                              icon: "success",
                              confirmButtonColor: "#3498DB",
                              allowOutsideClick: false,
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    $('#outside-fo').DataTable().ajax.reload();
                                  }
                            });
                        }
                    });
                }
            });
        });
    });
</script>
{% endblock %}