{% extends 'layout.html' %}
{% block content %}
{% load static %}
<style>
    input {border:0;outline:0;}
    input:focus {outline:none!important;}

    input {border:0;outline:0;}
    input:focus {outline:none!important;}
    /* Styling for DataTable */

    #assigned-to-me_wrapper {
        font-family: Arial, sans-serif;
        color: #333;
    }

    #assigned-to-me {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
    }

    #assigned-to-me th,
    #assigned-to-me td {
        padding: 12px 15px;
        border-bottom: 1px solid #eee;
        text-align: left;
    }

    #assigned-to-me th {
        background-color: #f8f9fa; /* Lighter background color */
        font-weight: bold;
        color: #555; /* Darker font color */
    }

    #assigned-to-me tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    #assigned-to-me tbody tr:hover { /* DRIA TAMAN */
        background-color: #f5f5f5;
    }

    #assessment-table_wrapper {
        font-family: Arial, sans-serif;
        color: #333;
    }

    #assessment-table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
    }

    #assessment-table th,
    #assessment-table td {
        padding: 12px 15px;
        border-bottom: 1px solid #eee;
        text-align: left;
    }

    #assessment-table th {
        background-color: #f8f9fa; /* Lighter background color */
        font-weight: bold;
        color: #555; /* Darker font color */
    }

    #assessment-table tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    #assessment-table tbody tr:hover {
        background-color: #f5f5f5;
    }

    /* Styling for DataTable Search Boxes */
    .dataTables_filter input {
        width: 240px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 14px;
    }

    .dataTables_length select {
        width: 120px;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ccc;
        font-size: 14px;
    }

    /* Customizing Placeholder Text Color */
    ::placeholder {
        color: #aaa;
    }
</style>
<div class="container-fluid">
    <div class="page-title">
        <div class="row">
            <div class="col-6">
                <h3>Assessment</h3>
            </div>
            <div class="col-6">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Assessment</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body" id="transaction_content">
                    <ul class="nav nav-pills" id="tabUL" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="pills-ongoing" data-bs-toggle="pill" href="#ongoing" role="tab">
                                <i class="fa fa-file-o"></i> My ongoing/pending/hold/uploading transaction
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="pills-transaction_all" data-bs-toggle="pill" href="#transaction_all" role="tab">
                                <i class="fa fa-file-o"></i> All of my transaction
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-icontabContent">
                        <div class="tab-pane fade show active m-t-30" id="ongoing" role="tabpanel">
                            <small>My ongoing/pending/hold/uploading transaction</small>
                            <hr>
                            <div class="table-responsive text-nowrap table-scroll">
                                <table class="table table-responsive" width="100%" id="assigned-to-me">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th class="text-center">Action</th>
                                            <th class="text-center">Details</th>
                                            <th class="text-center">Status</th>
                                            <th>Picture</th>
                                            <th>Tracking Code</th>
                                            <th>Client Name</th>
                                            <th>Beneficiary Name</th>
                                            <th class="text-center">Date of Transaction</th>
                                            <th class="text-center">Case Study</th>
                                            <th class="text-center">Priority</th>
                                            <th class="text-center">Print</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane fade m-t-30" id="transaction_all" role="tabpanel">
                            <small>All of my transaction</small>
                            <hr>
                            <div class="table-responsive text-nowrap table-scroll">
                                <table class="table table-responsive" width="100%" id="assessment-table">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th class="text-center">Action</th>
                                            <th class="text-center">Details</th>
                                            <th class="text-center">Status</th>
                                            <th>Picture</th>
                                            <th>Tracking Code</th>
                                            <th>Client Name</th>
                                            <th>Beneficiary Name</th>
                                            <th class="text-center">Date of Transaction</th>
                                            <th class="display-none">Case Study</th>
                                            <th class="text-center">Case Study</th>
                                            <th class="text-center">Case Study Status</th>
                                            <th class="text-center">Print</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="PrintingModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {% csrf_token %}
            <div class="modal-body" id="load_data">
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="AssessmentStatus" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {% csrf_token %}
            <div class="modal-body" id="load_data">
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){
        // Show the modal when the page loads
        {% if modal_show %}
        Swal.fire({
            title: "Update Transaction",
            text: "You have uncompleted transactions that are not from today. " +
                "Change status to ( Completed / Cancelled )",
            icon: "question"
            });
        {% endif %}
    })
</script>
<script>
    $(document).ready(function(){
        $('#assigned-to-me').DataTable({ //ASSIGNED TO SELF
            'serverSide': true,
            'processing': true,
            'deferRender': true,
            'lengthMenu': [ 15, 30, 50, 100 ],
            'order': [[ 0, 'desc' ]],
            'bDestroy': true,
            'ajax': {
                'url': '{% if restriction %}/api/requests/admin_monitoring/list/?format=datatables&ongoing=ongoing{% else %}/api/requests/transaction/session/?format=datatables&user={{ request.user.id }}{% endif %}',
                'type': 'GET',
                'data': function(d) {
                    d.page = d.start / d.length + 1;  // Calculate the current page based on start and length
                    d.page_size = d.length;  // Send the page size
                },
            },
            'fnCreatedRow': function (row, data, index) {
                $(row).attr('id', data['id']);
            },
            'columns': [
                {'data': 'id',
                    'render': function(data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    },
                },
                {'data': 'transaction',
                    'render': function(data, type, row, meta) {
                        return "<a href='#' data-role='AssessmentStatus' data-id="+ row['transaction'] + ">CHANGE STATUS</a>"
                    },
                    'sortable': false,
                    'searchable': false
                },
                {'data': 'status',
                    'render': function(data, type, row, meta) {
                        if(row['status'] == 1){
                            return "<td>Start Transaction</td>"
                        }else if(row['status'] == 2){
                            return "<a href='javascript:void(0);' data-role='details' data-id='"+ row['transaction'] + "'>View</a>"
                        }else if(row['status'] == 3){
                            return "<a href='javascript:void(0);' data-role='details' data-id='"+ row['transaction'] + "'>View</a>"
                        }else if(row['status'] == 6){
                            return "<a href='javascript:void(0);' data-role='details' data-id='"+ row['transaction'] + "'>View</a>"
                        }else if(row['status'] == 7){
                            return "<a href='javascript:void(0);' data-role='details' data-id='"+ row['transaction'] + "'>View</a>"
                        }else{
                            return "<td>Start Transaction</td>"
                        }
                    },
                    'className': 'text-center',
                    'sortable': false,
                    'searchable': false,
                },
                {'data': 'status', 'className': 'text-center', 'searchable': false,
                    'render': function(data,type,row,meta){
                        if(row['status'] == null){
                            return "<button class='badge badge-dark'><i class='fa fa-check-circle'> N/a</i></button>"
                        }else if(row['status'] == 1){
                            return "<span class='badge badge-dark'>Pending</span>"
                        }else if(row['status'] == 2){
                            return "<span class='badge badge-warning'>Ongoing</span>"
                        }else if(row['status'] == 3){
                            return "<span class='badge badge-info'>For Uploading Picture</span>"
                        }else if(row['status'] == 4){
                            return "<span class='badge badge-danger'>Hold</span>"
                        }else if(row['status'] == 5){
                            return "<span class='badge badge-danger'>Cancelled</span>"
                        }else if(row['status'] == 6){
                            return "<span class='badge badge-success'>Completed</span>"
                        }else if(row['status'] == 7){
                            return "<span class='badge badge-warning'>Ongoing</span>"
                        }
                    }
                },
                {'data': 'get_picture',
                    'render': function(data, type, row, meta) {
                        if (data) {
                            return `<div class="image-container">
                                <img loading="lazy" class="rounded-circle img-radius align-top m-r-15" 
                                    data-toggle="popover" data-trigger="hover" 
                                    data-html="true" loading="lazy" 
                                    style="object-fit:cover; width: 40px; height: 40px;" 
                                    data-placement="right" 
                                    data-content="<img loading='lazy' src='`+ data + `' style='width: 250px; height: 250px; object-fit:cover;'>" 
                                    src='`+ data + `'>
                            </div>`;
                        }else{
                            return `<center><img loading="lazy" class="rounded-circle img-radius align-top m-r-15" data-toggle="popover"
                                data-html="true"
                                loading="lazy"
                                style="object-fit:cover; width: 40px; height: 40px;"
                                data-placement="right"
                                data-content="<center><img loading='lazy' src='{% static 'images/dashboard/profile.jpg' %}' style='width: 250px; height: 250px; object-fit:cover;'></center>" src="{% static 'images/dashboard/profile.jpg' %}">
                            </center>`;
                        }
                    },
                    searchable:'false',
                    sortable:'false',
                    className: 'text-center'
                },
                {'data': 'tracking_number','name':'transaction.tracking_number', 'className': 'text-start', 'sortable': false },
                {'data': 'client', 'name': 'transaction.client.client_bene_fullname', 'className': 'text-start', 'sortable': false },
                {'data': 'beneficiary', 'name': 'transaction.bene.client_bene_fullname', 'className': 'text-start', 'sortable': false },
                {'data': 'verified_time_start', 'className': 'text-center', },
                {'data': 'case_study', 'className': 'text-center','sortable':false, 'searchable':false, 
                        'render': function(data,type,row,meta){
                            if(row['case_study'] == '2'){
                                return "<td>For Case Study</td>"
                            }else{
                                return "<td>Not for case Study</td>"
                            }
                        }
                },
                {'data': 'priority', 'className': 'text-center', 'name': 'transaction.priority.priority_name',
                        'render': function(data,type,row,meta){
                            if(row['priority_id'] == 1){
                                return "<span class='badge badge-primary'>"+ NA +"</span>" 
                            }else{
                                return "<span class='badge badge-primary'>"+ row['priority'] +"</span>" 
                            }
                        }
                },
                {'data': 'transaction',
                    'render': function(data, type, row, meta) {
                        return "<a href='#' data-role='PrintingModal' data-id="+ row['transaction'] + ">Printing</a>"
                    },
                    'sortable': false,
                    'searchable': false
                },
            ]
        });
        $('#assessment-table').DataTable({ //ASSIGNED TO OTHER SOCIALWOERKER
            'serverSide': true, 
            'processing': true,
            'deferRender': true,
            'lengthMenu': [ 15, 30, 50, 100, 200 ],
            'order': [[ 0, 'desc' ]],
            'bDestroy': true,
            'ajax': {
                'url': '{% if restriction %}/api/requests/admin_monitoring/list/?format=datatables{% else %}/api/requests/transaction/all/session/?format=datatables&user={{ request.user.id }}{% endif %}',
                'type': 'GET',
                'data': function(d) {
                    d.page = d.start / d.length + 1;  // Calculate the current page based on start and length
                    d.page_size = d.length;  // Send the page size
                },
            },
            'fnCreatedRow': function (row, data, index) {
                $(row).attr('id', data['id']);
            },
            'columns': [
                {'data': 'id',
                    'render': function(data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    },
                },
                {'data': 'transaction',
                    'render': function(data, type, row, meta) {
                    return "<a href='#' data-role='AssessmentStatus' data-id="+ row['transaction'] + ">CHANGE STATUS</a>"
                    },
                    'sortable': false,
                    'searchable': false
                },
                {'data': 'transaction',
                    'render': function(data, type, row, meta) {
                        if(row['status'] == 1){
                            return "<td>Start Transaction</td>"
                        }else if(row['status'] == 2){
                            return "<a href='javascript:void(0);' data-role='details' data-id='"+ row['transaction'] + "'>View</a>"
                        }else if(row['status'] == 3){
                            return "<a href='javascript:void(0);' data-role='details' data-id='"+ row['transaction'] + "'>View</a>"
                        }else if(row['status'] == 6){
                            return "<a href='javascript:void(0);' data-role='details' data-id='"+ row['transaction'] + "'>View</a>"
                        }else if(row['status'] == 7){
                            return "<a href='javascript:void(0);' data-role='details' data-id='"+ row['transaction'] + "'>View</a>"
                        }else{
                            return "<td>Start Transaction</td>"
                        }
                    },
                    'className': 'text-center',
                    'sortable': false,
                    'searchable': false,
                },
                {'data': 'status', 'className': 'text-center', 'searchable': false,
                    'render': function(data,type,row,meta){
                        if(row['status'] == null){
                            return "<button class='badge badge-dark'><i class='fa fa-check-circle'> N/a</i></button>"
                        }else if(row['status'] == 1){
                            return "<span class='badge badge-dark'>Pending</span>"
                        }else if(row['status'] == 2){
                            return "<span class='badge badge-warning'>Ongoing</span>"
                        }else if(row['status'] == 3){
                            return "<span class='badge badge-info'>For Uploading Picture</span>"
                        }else if(row['status'] == 4){
                            return "<span class='badge badge-danger'>Hold</span>"
                        }else if(row['status'] == 5){
                            return "<span class='badge badge-danger'>Cancelled</span>"
                        }else if(row['status'] == 6){
                            return "<span class='badge badge-success'>Completed</span>"
                        }else if(row['status'] == 7){
                            return "<span class='badge badge-warning'>Ongoing</span>"
                        }
                    }
                },
                {'data': 'get_picture',
                    'render': function(data, type, row, meta) {
                        if (data) {
                            return `<div class="image-container">
                                <img loading="lazy" class="rounded-circle img-radius align-top m-r-15" 
                                    data-toggle="popover" data-trigger="hover" 
                                    data-html="true" loading="lazy" 
                                    style="object-fit:cover; width: 40px; height: 40px;" 
                                    data-placement="right" 
                                    data-content="<img loading='lazy' src='`+ data + `' style='width: 250px; height: 250px; object-fit:cover;'>" 
                                    src='`+ data + `'>
                            </div>`;
                        }else{
                            return `<center><img loading="lazy" class="rounded-circle img-radius align-top m-r-15" data-toggle="popover"
                                data-html="true"
                                loading="lazy"
                                style="object-fit:cover; width: 40px; height: 40px;"
                                data-placement="right"
                                data-content="<center><img loading='lazy' src='{% static 'images/dashboard/profile.jpg' %}' style='width: 250px; height: 250px; object-fit:cover;'></center>" src="{% static 'images/dashboard/profile.jpg' %}">
                            </center>`;
                        }
                    },
                    searchable:'false',
                    sortable:'false',
                    className: 'text-center'
                },
                {'data': 'tracking_number','name':'transaction.tracking_number', 'className': 'text-start', 'sortable': false },
                {'data': 'client', 'name': 'transaction.client.client_bene_fullname', 'className': 'text-start', 'sortable': false },
                {'data': 'beneficiary', 'name': 'transaction.bene.client_bene_fullname', 'className': 'text-start', 'sortable': false },
                {'data': 'verified_time_start', 'className': 'text-center' },
                {'data': 'case_study_status', 'className': 'display-none' }, //THIS IS FOR FILTERING IF CASE STUDY ALREADY SUBMITTED
                {'data': 'case_study','name':'transaction.is_case_study', 'className': 'text-center', 'searchable':false, 
                    'render': function(data,type,row,meta){
                        if(row['case_study'] == '2'){
                            if(row['status'] == 6){
                                if(row['case_study_status'] == "1"){
                                    return "Case study submitted"
                                }else{
                                    return "For Case Study"
                                }
                            }else{
                                return "For Case Study"
                            }
                        }else{
                            return "Not Case Study"
                        }
                    }
                },
                {'data': 'case_study_status', 'className': 'text-center', 'searchable': false,
                    'render': function(data,type,row,meta){
                        if(row['case_study_status'] == 1){
                            return "<span class='badge badge-warning'>Submitted</span>"
                        }else{
                            return "<span class='badge badge-dark'>N/a</span>"
                        }
                    }
                },
                {'data': 'transaction',
                    'render': function(data, type, row, meta) {
                        return "<a href='#' data-role='PrintingModal' data-id="+ row['transaction'] + ">Printing</a>"
                    },
                    'sortable': false,
                    'searchable': false
                },
            ]
        });
        $(document).on('click', 'a[data-role=details]', function(){
            var id = $(this).data('id');
            $('#transaction_content').load('/requests/assessment/view/' + id); //stay still in the body
        });
    });
    $(document).on('click','a[data-role=hold]', function(){ // FOR MODAL PASS TO DIFFERENT MODAL
        var id = $(this).data('id');
        $('#empid').val(id)
        $('#myModal').modal('show')
    });
    $(document).on('click','a[data-role=PrintingModal]', function(){ // For Printing Purposes Only
        var id = $(this).data('id');
        var tracking = $('#'+id).children('td:eq(2)').text();
        $('#Eid').val(id)
        $('#PrintingModal').modal('show').find('#load_data').load('/requests/printingModal/' +id);
    });
    $(document).on('click','a[data-role=AssessmentStatus]', function(){ // For assessmentStatus
        var id = $(this).data('id');
        $('#Eid').val(id)
        $('#PrintingModal').modal('show').find('#load_data').load('/requests/assessmentStatusModal/' +id);
    });
    function validationForm(){
        var invalid = false;
        $('.form-control').each(function() {
            if (/<[a-z][\s\S]*>/i.test($(this).val())) {
                $(this).addClass('is-invalid');
                $(this).next('.invalid-feedback').html("The field cannot contain HTML tags.")
                invalid = true;
            }
        });
        return invalid;
    }
    $(document).on('click', 'a[data-role=submit_case_study]', function(){
        var id = $(this).data('id');
        Swal.fire({
            title: "Are you sure",
            text: "You already submitted this case study?",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3498DB",
            confirmButtonText: "Yes",
            allowOutsideClick: false,
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.showLoading()
                $.ajax({
                    url: "{% url 'submitCaseStudy' %}",
                    data: {
                        id: id
                    },
                    type: "POST"
                })
                .done(function(data){
                    if (data.data == 'success'){
                        Swal.fire({
                            title: "Good job!",
                            text: "Case study submitted",
                            icon: "success",
                            confirmButtonColor: "#3498DB",
                            allowOutsideClick: false,
                        }).then((result) => {
                            if (result.isConfirmed) {
                                $('#assessment-table').DataTable().ajax.reload();
                                }
                        });
                    }else{
                        Swal.fire("Oops...", response.msg, "warning");
                    }
                });
            }
        });
    });


</script>
{% endblock %}