{% load humanize %}
<style>
.hidden {
    display: none;
    }
.underline {
    text-decoration: underline;
}
</style>
<div class="row" id="modal_view">
    <form id="submitformProvided">
        {% csrf_token %}
        <input type="text" class="form-control" name="final_total" id="" value="{{calculate.total_payment|floatformat:2}}" hidden>
        <input type="text" class="form-control" name="transaction_id" id="" value="{{transaction.id}}" hidden>
        <input type="text" class="form-control" name="sid" id="sid" hidden>
        <br>
        {% comment %} <br>
        <input type="checkbox" class="form-check-input" id="type_of_assistance" name="type_of_assistance"> Click me!.. If transaction is not Medicine Assistance
        <br>
        <br> {% endcomment %}
        <div class="row mb-3">
            <div class="table-responsive">
                <table class="table table-bordered w-100 table-sm" id="provided-table">
                    <thead>
                        <th width="250px;">Provided</th>
                        <th class="text-center" width="200px;">Regular Price</th>
                        <th width="200px;" class="text-center">Quantity</th>
                        <th class="text-center" width="200px;">Discount %</th>
                        <th class="text-center" width="238px;">Discounted Price</th>
                        <th width="250px;" class="text-center">Quantity</th>
                        <th width="250px;" class="text-center">Final total *</th>
                        <th>
                            <center>
                                <button type="button" class="btn btn-primary btn-xs" id="add-provided"><i class="fa fa-plus"></i></button>
                            </center>
                        </th>
                    </thead>           
                    <tbody>
                        {% if transactionProvided %}
                            {% for row in transactionProvided %}
                            <tr>
                                <td>
                                    <input type="text" class="form-control" name="provided[]" value="{{row.provided_data}}" id="provided" required>
                                </td>
                                <td valign="middle">
                                    <input type="text" class="form-control" name="regprice[]" value="{{row.regular_price}}" onkeypress='validate(event)' id="reg_price" required>
                                </td>
                                <td valign="middle">
                                    <input type="number" class="form-control" name="qty[]" id="qty" value="{{row.regular_quantity}}" step="any" onkeypress='validate(event)' required>
                                </td>
                                <td valign="middle">
                                    <input type="number" class="form-control" name="dsc[]" id="dsc" value="{% if row.discount %}{{row.discount}}{% else %}0{% endif %}" step="any" onkeypress='validate(event)' required>
                                </td>
                                <td valign="middle">
                                    <input type="number" class="form-control" name="discounted_price[]" value="{{row.discount_price}}" id="discounted_price" step="any" onkeypress='validate(event)' required>
                                </td>
                                <td valign="middle">
                                    <input type="number" class="form-control" name="qty1[]" id="qty1" value="{{row.discount_quantity}}" step="any" onkeypress='validate(event)' required>
                                    <div class="invalid-feedback"></div>
                                </td>
                                <td valign="middle">
                                    <input type="number" class="form-control" name="tot[]" id="tot" value="{{row.total}}" onkeypress='validate(event)' step="any" required readonly>
                                    <div class="invalid-feedback"></div>
                                </td>
                                <td valign="middle">
                                    <center>
                                        <a type="button" class="btn btn-danger btn-xs" data-role="delete" data-id="{{row.id}}"><i class="fa fa-minus"></i></a>
                                    </center>
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                        <tr>
                            <td>*nothing follows*</td>
                            <td colspan="5" style="text-align: right;"><b>Pre total </b></td>
                            <td colspan="1" style="border-bottom: 1px solid black"><span>&#8369;</span> <label id="pre_total_label" style="color:red;">{% if calculate.total_payment%}{{calculate.total_payment|floatformat:2|intcomma}}{% else %}0{% endif %}</label></td>
                            <td><button type="submit" id="submit_button" class="btn btn-primary" disabled>Submit</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
    <br>
    <br>
    <form id="Confirmation">
        {% csrf_token %}
        <input type="text" class="form-control" name="tracking_number" id="" value="{{transaction.tracking_number}}" hidden>
        <input type="text" class="form-control" name="final_total" id="final_total" value="{% if calculate.total_payment%}{{calculate.total_payment|floatformat:2}}{% else %}0{% endif %}" hidden>
        <input type="text" class="form-control" name="transaction_id" id="" value="{{transaction.id}}" hidden>
        <br>
        <div class="alert alert-light" role="alert">
            Final total: <a href="#" class="alert-link"><span>&#8369;</span> <u>{% if transaction.total_amount %}{{transaction.total_amount|intcomma}}{% else %}0{% endif %}</u></a>. <p style="color:red;"> Note: final total is your confirmed amount</p>
        </div>
        <center>
            {% if calculate.total_payment%}
            <div class="btn-group">
                <button type="submit" class="btn btn-primary">CONFIRM</button>
                {% if transaction.total_amount %}
                {% if transaction.total_amount == calculate.total_payment|floatformat:2 %}
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'printGIS' transaction.id %}" target="_blank">General Intake Sheet</a></li>
                    {% if transaction.is_gl == 1 %}
                    <li><a class="dropdown-item" href="{% url 'printCEGL' transaction.id %}" target="_blank">Certificate of Eligibility (GL)</a></li>
                    <li><a class="dropdown-item" href="{% url 'printGLHead' transaction.id %}" target="_blank">Guarantee Letter Head</a></li>
                    <li><a class="dropdown-item" href="{% url 'printGLMEDCal' transaction.id %}" target="_blank">Guarantee Letter MED-CALCULATOR</a></li>
                    <li><a class="dropdown-item" href="{% url 'printPagPamatuod' transaction.id %}" target="_blank">Pag-Pamatuod</a></li>
                    {% else %}
                    <li><a class="dropdown-item" href="{% url 'printCECASH' transaction.id %}" target="_blank">Certificate of Eligibility (Financial Assistance)</a></li>
                    <li><a class="dropdown-item" href="{% url 'printPettyCashVoucher' transaction.id %}" target="_blank">Petty Cash Voucher</a></li>
                    {% endif %}
                </ul>
                {% endif %}
                {% endif %}
            </div>
            {% endif %}
            </b>
        </center>
    </form>
</div>
<script>
    var template_provided = `
    <tr>
        <td>
            <input type="text" class="form-control" name="provided[]" id="provided" required>
        </td>
        <td valign="middle">
            <input type="text" class="form-control" name="regprice[]" onkeypress='validate(event)' id="reg_price" required>
        </td>
        <td valign="middle">
            <input type="number" class="form-control" name="qty[]" id="qty" onkeypress='validate(event)' step="any" required>
        </td>
        <td valign="middle">
            <input type="number" class="form-control" name="dsc[]" id="dsc" onkeypress='validate(event)' step="any" required>
        </td>
        <td valign="middle">
            <input type="number" class="form-control" name="discounted_price[]" id="discounted_price" onkeypress='validate(event)' step="any" required>
        </td>
        <td valign="middle">
            <input type="number" class="form-control" name="qty1[]" id="qty1" onkeypress='validate(event)' step="any" required>
            <div class="invalid-feedback"></div>
        </td>
        <td valign="middle">
            <input type="number" class="form-control" name="tot[]" id="tot" onkeypress='validate(event)' required readonly>
            <div class="invalid-feedback"></div>
        </td>
        <td valign="middle">
            <center>
                <button type="button" class="btn btn-danger btn-xs" data-role="remove"><i class="fa fa-minus"></i></button>
            </center>
        </td>
    </tr>
`;

$('#add-provided').on('click', function(){
    $('#provided-table tbody').prepend(template_provided);
});

$(document).on('click', 'button[data-role=remove]', function(){
    $(this).closest('tr').remove();
    calculateTotal();
});
function calculateTotal() {
    var total = 0;
    $('#provided-table tbody tr').each(function() {
        var regPrice = parseFloat($(this).find('input[name="regprice[]"]').val());
        var qty = parseFloat($(this).find('input[name="qty[]"]').val());
        var dsc = parseFloat($(this).find('input[name="dsc[]"]').val());
        var discountedPrice = parseFloat($(this).find('input[name="discounted_price[]"]').val());
        var qty1 = parseFloat($(this).find('input[name="qty1[]"]').val());
    
        if (!isNaN(regPrice) && !isNaN(qty) && !isNaN(dsc) && !isNaN(discountedPrice) && !isNaN(qty1)) {
            var main = (regPrice * qty).toFixed(2);
            var dec = (dsc / 100).toFixed(2);
            var mult = (main * dec).toFixed(2);
            var discount = (main - mult).toFixed(2);
            var regPriceTotal = (regPrice - (regPrice * dec)).toFixed(2);
            var total2 = (qty1 * regPriceTotal).toFixed(2);
            var finalTotal = (parseFloat(main) + parseFloat(total2)).toFixed(2);
            total += parseFloat(finalTotal);
    
            $(this).find('input[name="tot[]"]').val(finalTotal);
        }
    });
    $('#pre_total_label').text(total.toFixed(2));
}

$(document).on('change keyup', '#provided-table input', function() {
    calculateTotal();
    let hasValue = false;

    // Check if any input in the table has a value
    $('#provided-table input').each(function() {
        if ($(this).val().trim() !== '') {
            hasValue = true;
            return false; // Exit the loop if any input has a value
        }
    });

    // Enable or disable the submit button based on the presence of input values
    $('#submit_button').prop('disabled', !hasValue);
});
$(document).on('change keyup', '#provided-table input[name="regprice[]"], #provided-table input[name="dsc[]"]', function() {
    // Get the parent table row
    var row = $(this).closest('tr');
    
    // Get the values of regprice and discount from the current row
    var regPrice = parseFloat(row.find('input[name="regprice[]"]').val());
    var dsc = parseFloat(row.find('input[name="dsc[]"]').val());
    
    // Check if regPrice and discount are valid numbers
    if (!isNaN(regPrice) && !isNaN(dsc)) {
        // Calculate regPriceTotal
        var dec = dsc / 100;
        var regPriceTotal = regPrice - (regPrice * dec);
        
        // Display regPriceTotal in the console
        if (dsc === 0) {
            row.find('input[name="discounted_price[]"]').val("0");
            row.find('input[name="qty1[]"]').val("0");
        } else {
            row.find('input[name="discounted_price[]"]').val(regPriceTotal.toFixed(2));
        }
    }
});
</script>
<script>
    $(document).on('click', 'a[data-role=delete]', function(){
        var id = $(this).data('id');
        Swal.fire({
            title: "Are you sure",
            text: "You want to remove this data",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3498DB",
            confirmButtonText: "Yes",
            allowOutsideClick: false,
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.showLoading()
                $.ajax({
                    url: "{% url 'removeTransactionData' %}",
                    data: {
                        id: id
                    },
                    type: "POST"
                })
                .done(function(data){
                    if (data.data == 'success'){
                        Swal.fire({
                            title: "Good job!",
                            text: "Data provided removed",
                            icon: "success",
                            confirmButtonColor: "#3498DB",
                            allowOutsideClick: false,
                        }).then((result) => {
                            if (result.isConfirmed) {
                                $('#modal_view').load('/requests/provided/{{ transaction.id }}');
                                $('#table').DataTable().ajax.reload();
                                }
                        });
                    }
                });
            }
        });
    });
    $('.select1').select2({
        width: '100%',
        placeholder: 'Choose',
        containerCssClass: 'select'
    });

    $(document).on('click','a[data-role=edit_meds]', function(){ // For assessmentStatus
        var id = $(this).data('id');
        var transaction_provided = $('#'+id).children('td:eq(2)').text();
        var regularprice = $('#'+id).children('td:eq(4)').text();
        var quantity = $('#'+id).children('td:eq(5)').text();
        var discount = $('#'+id).children('td:eq(6)').text();
        var quantity1 = $('#'+id).children('td:eq(7)').text();
        var tot = $('#'+id).children('td:eq(8)').text();

        $('#sid').val(id)
        $('#provided').val(transaction_provided)
        $('#reg_price').val(regularprice)
        $('#qty').val(quantity)
        $('#discounted_price').val(discount)
        $('#qty1').val(quantity1)
        //$('#tot').val(tot)

    });
    function validationForm(){
        var invalid = false;
        $('.form-control').each(function() {
            if (/<[a-z][\s\S]*>/i.test($(this).val())) {
                $(this).addClass('is-invalid');
                $(this).next('.invalid-feedback').html("The field cannot contain HTML tags.")
                invalid = true;
            }
        });
        return invalid;
    }
    $('#submitformProvided').on('submit', function(e){
        e.preventDefault();
        var form = new FormData(this);
        if (!validationForm()){
            Swal.fire({
                title: "Are you sure",
                text: "You want to add this data",
                icon: "info",
                showCancelButton: true,
                confirmButtonText: "Yes",
                allowOutsideClick: false,
                showLoaderOnConfirm: true,
                preConfirm: function (){
                    return $.post({
                        url: "{% url 'modal_provided' transaction.id %}",
                        data: form,
                        success : function (response){
                            if(!response.error){
                                Swal.fire({
                                    title: "Good job!",
                                    html:  response.msg,
                                    icon: "success",
                                    allowOutsideClick: false,
                                }).then((result) => {
                                    if (result.isConfirmed){
                                        $('#modal_view').load('/requests/provided/{{ transaction.id }}');
                                        $('#table').DataTable().ajax.reload();
                                    }
                                });
                            }else{
                                Swal.fire("Oops...", response.msg, "warning");
                            }
                        },
                        cache       : false,
                        contentType : false,
                        processData : false,
                    });
                },
            });
        }
    });
    $('#Confirmation').on('submit', function(e){
        e.preventDefault();
        var form = new FormData(this);
        if (!validationForm()){
            Swal.fire({
                title: "Are you sure",
                text: "You want to confirm the total amount?",
                icon: "info",
                showCancelButton: true,
                confirmButtonText: "Yes",
                allowOutsideClick: false,
                showLoaderOnConfirm: true,
                preConfirm: function (){
                    return $.post({
                        url: "{% url 'confirmAmount' %}",
                        data: form,
                        success : function (response){
                            if(!response.error){
                                Swal.fire({
                                    title: "Good job!",
                                    html:  response.msg,
                                    icon: "success",
                                    allowOutsideClick: false,
                                }).then((result) => {
                                    if (result.isConfirmed){
                                        $('#modal_view').load('/requests/provided/{{ transaction.id }}');
                                        $('#table').DataTable().ajax.reload();
                                    }
                                });
                            }else{
                                Swal.fire("Oops...", response.msg, "warning");
                            }
                        },
                        cache       : false,
                        contentType : false,
                        processData : false,
                    });
                },
            });
        }
    });
    $('#add_service_provider').on('submit', function(e){
        e.preventDefault();
        var form = new FormData(this);
        if (!validationForm()){
            Swal.fire({
                title: "Are you sure",
                text: "You want to add new service provider?",
                icon: "info",
                showCancelButton: true,
                confirmButtonText: "Yes",
                allowOutsideClick: false,
                showLoaderOnConfirm: true,
                preConfirm: function (){
                    return $.post({
                        url: "{% url 'service_provider' %}",
                        data: form,
                        success : function (response){
                            if(!response.error){
                                Swal.fire({
                                    title: response.tracking_number,
                                    html:  response.msg,
                                    icon: "success",
                                    allowOutsideClick: false,
                                }).then((result) => {
                                    if (result.isConfirmed){
                                        $('#modal_view').load('/requests/provided/{{ transaction.id }}');
                                        $('#table').DataTable().ajax.reload();
                                    }
                                });
                            }else{
                                Swal.fire("Oops...", response.msg, "warning");
                            }
                        },
                        cache       : false,
                        contentType : false,
                        processData : false,
                    });
                },
            });
        }
    });
    $('#type_of_assistance').on('change', function(){
        if($("#type_of_assistance").is(':checked')){
            //HOSPITAL ASSISTANCE
            document.getElementById('reprice_label').innerHTML = 'Bill Price';
            $('#sid').val("")
            $('#provided').val("")
            $('#reg_price').val("")
            $('#tot').val("")

            $('#discounted_price').val("0")
            $('#qty1').val(0)
            $('#qty').val(1)
            $("#dsc").val(0)
        } else {
            //MEDS ASSISTANCE
            document.getElementById('reprice_label').innerHTML = 'Reg-Price';
            $('#sid').val("")
            $('#provided').val("")
            $('#reg_price').val("")
            $('#qty1').val("")
            $('#tot').val("")
            $('#qty').val("")
            $("#dsc").val("")
            $('#discounted_price').val("")
        }
    });
</script>
<script>
    function validate(evt) {
        var theEvent = evt || window.event;
        // Handle paste
        if (theEvent.type === 'paste') {
            key = event.clipboardData.getData('text/plain');
        } else {
        // Handle key press
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
        }
        var regex = /[0-9]|\./;
        if( !regex.test(key) ) {
            theEvent.returnValue = false;
            if(theEvent.preventDefault) theEvent.preventDefault();
        }
        }
</script>
