
{% if transaction.total_amount %}
<div class="row mb-3"id="modal_view">
    <a class="btn btn-outline-primary" href="{% url 'printGIS' transaction.id %}" target="_blank">General Intake Sheet</a>
    {% comment %} <a class="btn btn-outline-primary" href="{% url 'printGL' transaction.id %}" target="_blank">Guarantee Letter</a> {% endcomment %}
    <a class="btn btn-outline-primary" href="{% url 'printCEGL' transaction.id %}" target="_blank">Certificate of Eligibility (GL)</a>
    <a class="btn btn-outline-primary" href="{% url 'printCECASH' transaction.id %}" target="_blank">Certificate of Eligibility (FA)</a>
    <a class="btn btn-outline-primary" href="{% url 'printGLHead' transaction.id %}" target="_blank">Guarantee Letter Head</a>
    <a class="btn btn-outline-primary" href="{% url 'printGLMEDCal' transaction.id %}" target="_blank">Guarantee Letter MED-CALCULATOR</a>
    <a class="btn btn-outline-primary" href="{% url 'printPettyCashVoucher' transaction.id %}" target="_blank">Petty Cash Voucher</a>
    <a class="btn btn-outline-primary" href="{% url 'printPagPamatuod' transaction.id %}" target="_blank">Pag-Pamatuod</a>
</div>
{% else %}
<h6>Not available, please complete the transaction first</h6>
{% endif %}
