<div class="row" id="modal_view">
<div class="alertDiv"></div>
    <form id="FormSubmission">
        {% csrf_token %}
        <div class="modal-body">
            <div class="form-group">
                <div class="row mb-3">
                    <div class="form-group">
                        <label>Tracking Number:</label>
                        <input type="text" class="form-control" value="{{TransactionData.tracking_number}}" readonly>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="form-group">
                        <label>Change Status <span class="txt-danger">*</span></label>
                        <select class="form-control select" id="change_status" name="change_status" required>
                            <option></option>
                            {% if TransactionStatus.status == 4 %}
                            <option value="7">RESUME</option>
                            <option value="5">CANCELLED</option>
                            {% if TransactionData.total_amount %}
                            <option value="6">COMPLETED</option>
                            {% endif %}
                            {% elif TransactionStatus.status == 5 %}
                            <option value="7">RESUME</option>
                            {% if TransactionData.total_amount %}
                            <option value="6">COMPLETED</option>
                            {% endif %}
                            {% else %}
                            <option value="2">ASSESS</option>
                            <option value="4">HOLD</option>
                            <option value="5">CANCELLED</option>
                            {% if TransactionData.total_amount %}
                            <option value="6">COMPLETED</option>
                            {% endif %}
                            {% endif %}
                        </select>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="form-group">
                        <label>Remarks</label>
                        <textarea class="form-control" name="remarks_transaction" rows="2" cols="2"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>
</div>
<script>
    $('.select').select2({
        width: '100%',
        placeholder: 'Choose',
        containerCssClass: 'select'
    });
    function validationForm(){
        var invalid = false;
        $('.form-control').each(function() {
            if (/<[a-z][\s\S]*>/i.test($(this).val())) {
                $(this).addClass('is-invalid');
                $(this).next('.invalid-feedback').html("The field cannot contain HTML tags.")
                invalid = true;
            }
        });
        return invalid;
    }

    $('#FormSubmission').on('submit', function(e){
        e.preventDefault();
        var form = new FormData(this);
        if (!validationForm()){
            Swal.fire({
                title: "Are you sure",
                text: "You to change status?",
                icon: "info",
                showCancelButton: true,
                confirmButtonText: "Yes",
                allowOutsideClick: false,
                showLoaderOnConfirm: true,
                preConfirm: function (){
                    return $.post({
                        url: "{% url 'assessmentStatusModal' TransactionData.id %}",
                        data: form,
                        success : function (response){
                            if(!response.error){
                                Swal.fire({
                                    title: "Successful",
                                    html:  "Transaction status successfully updated",
                                    icon: "success",
                                    allowOutsideClick: false,
                                }).then((result) => {
                                    if (result.isConfirmed){
                                        $('#assigned-to-me').DataTable().ajax.reload();
                                        $('#assessment-table').DataTable().ajax.reload();
                                        //$('#assessment-table').DataTable().ajax.reload();
                                        //$('#modal_view').load('/requests/assessmentStatusModal/{{ TransactionData.id }}');
                                    }
                                });
                                //$(".alertDiv").html(
                                //   `
                                //    <div class="alert alert-primary dark" role="alert">
                                //        <p><i class="fa fa-info-circle"></i> `+ response.msg +`</p>
                                //    </div>
                                //    `
                                //);
                            } else {
                                Swal.fire("Oops...", "WRONG", "warning");
                            }
                        },
                        cache       : false,
                        contentType : false,
                        processData : false,
                    });
                },
            });
        }
    });
</script>