<style>
  /* The actual timeline (the vertical ruler) */
  .main-timeline {
    position: relative;
  }
  
  /* The actual timeline (the vertical ruler) */
  .main-timeline::after {
    content: "";
    position: absolute;
    width: 6px;
    background-color: #939597;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* Container around content */
  .timeline {
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .timeline::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -13px;
    background-color: #939597;
    border: 5px solid #f5df4d;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    padding: 0px 40px 20px 0px;
    left: 0;
  }
  
  /* Place the container to the right */
  .right {
    padding: 0px 0px 20px 40px;
    left: 50%;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    position: absolute;
    top: 18px;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -12px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .main-timeline::after {
      left: 31px;
    }
  
    /* Full-width containers */
    .timeline {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
    /* Make sure that all arrows are pointing leftwards */
    .timeline::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
      left: 18px;
    }
  
    .left::before {
      right: auto;
    }
  
    /* Make all right containers behave like the left ones */
    .right {
      left: 0%;
    }
  }
</style>
<div class="row" id="tracking_modal">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Updating</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Timelines</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Client history</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="beneficiary-tab" data-bs-toggle="tab" data-bs-target="#beneficiary" type="button" role="tab" aria-controls="beneficiary" aria-selected="false">Beneficiary history</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      {% if verifier %}
      <div class="col-lg-12">
        <br>
        <form id="submitForActionForm">
           {% csrf_token %}
           <div class="row mb-3">
              <div class="col-md-3">
                 <div class="form-group">
                    <input type="text" class="form-control" id="trackingNumber" value="{{datas.tracking_number}}" readonly>
                 </div>
              </div>
           </div>
           <div class="row mb-3">
              <div class="col-md-3">
                 <div class="form-group">
                    <label for="trackingNumber" class="form-label">Current client</label>
                    <input type="text" class="form-control" id="trackingNumber" value="{{datas.client.client_bene_fullname}}" readonly>
                 </div>
              </div>
              <div class="col-md-3">
                 <div class="form-group">
                    <label for="trackingNumber" class="form-label">Current beneficiary</label>
                    <input type="text" class="form-control" id="trackingNumber" value="{{datas.bene.client_bene_fullname}}" readonly>
                 </div>
              </div>
              <div class="col-md-2">
                 <div class="form-group">
                    <label>Update data</label> <span class="txt-danger">*</span>
                    <select class="form-control select1 hidden" name="client_bene" id="client_bene" required>
                       <option></option>
                       <option value="Client">Client</option>
                       <option value="Beneficiary">Beneficiary</option>
                    </select>
                 </div>
              </div>
              <div class="col-md-2">
                 <div class="form-group">
                    <label>&nbsp;Name</label> <span class="txt-danger">*</span>
                    <select class="form-control select client_beneficiary" id="client_beneficiary" name="client_beneficiary" required></select>
                 </div>
              </div>
              <div class="col-md-2">
                 <div class="form-group">
                    <label>&nbsp;Action</label><br>
                    <button type="submit" class="btn btn-primary">Update</button>
                 </div>
              </div>
           </div>
        </form>
     </div>
     <hr>
     <div class="col-lg-12">
        <form id="updateRelationship">
          {% csrf_token %}
          <div class="row mb-3">
              <div class="col-md-4">
                <label>Relationship to Beneficiary <span class="txt-danger">*</span></label>
                <select class="form-control relationship" id="relationship" name="relationship_selected" required>
                    <option></option>
                    {% for row in relation %}
                    {% if row.id == datas.relation_id %}
                    <option value="{{ row.id }}" selected>{{ row.name|upper }}</option>
                    {% else %}
                    <option value="{{ row.id }}">{{ row.name|upper }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
              </div>
              <input type="text" name="relationship" value="relationship" hidden>
              <div class="col-md-2">
                <div class="form-group">
                    <label>Action</label><br>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
              </div>
          </div>
        </form>
      </div>
     <hr>
     <div class="col-lg-12">
        <small>Updating of Social Worker, please review before submitting</small>
        <form id="submitUpdateSwo">
           {% csrf_token %}
           <div class="row mb-3">
              <div class="col-md-4">
                 <div class="form-group">
                    <label for="trackingNumber" class="form-label">Current Social Worker</label>
                    <input type="text" class="form-control" id="trackingNumber" value="{{datas.swo.get_fullname}}" readonly>
                 </div>
              </div>
              <div class="col-md-3">
                 <div class="form-group">
                    <label>Validation</label> <span class="txt-danger">*</span>
                    <select class="form-control select1 hidden" name="client_bene" id="client_bene" required>
                       <option></option>
                       <option value="swo">Social worker</option>
                    </select>
                 </div>
              </div>
              <div class="col-md-3">
                 <div class="form-group">
                    <label>Social worker name</label> <span class="txt-danger">*</span>
                    <select class="form-control select get_user" id="swo_name" name="swo_name" required></select>
                 </div>
              </div>
              <div class="col-md-2">
                 <div class="form-group">
                    <label>Action</label><br>
                    <button type="submit" class="btn btn-primary">Update</button>
                 </div>
              </div>
           </div>
        </form>
     </div>
     <hr>
     {% if transaction_status.status == 6 %}
     <form id="updateCaseStudy">
        {% csrf_token %}
        <div class="row mb-3">
           <div class="col-md-3">
              <div class="form-group">
                 <input type="text" name="update_case_study" value="update_case_study" hidden>
                 <input type="text" name="transaction_id" value="{{datas.id}}" hidden>
                 <label>Case Study <span class="txt-danger">*</span></label>
                 <select class="form-control select1" name="case_study_update" required>
                    <option></option>
                    {% if datas.is_case_study == 1 %}
                    <option value="1" selected>NO</option>
                    <option value="2">YES</option>
                    {% else %}
                    <option value="1">NO</option>
                    <option value="2" selected>YES</option>
                    {% endif %}
                 </select>
              </div>
           </div>
           <div class="col-md-2">
              <div class="form-group">
                 <label>Action</label><br>
                 <button type="submit" class="btn btn-primary">Update</button>
              </div>
           </div>
        </div>
     </form>
     <div class="col-lg-12">
        <form id="submitCaseStudy">
           {% csrf_token %}
           <div class="row mb-3">
              <div class="col-md-5">
                 <div class="form-group">
                    <input type="text" value="{{transaction_status.transaction_id}}" name="transactionID" hidden>
                    <label>Validation</label> <span class="txt-danger">*</span>
                    <select class="form-control select1 hidden" name="case_study" id="case_study" required>
                       <option></option>
                       <option value="1">SUBMITTED</option>
                    </select>
                 </div>
              </div>
              <div class="col-md-5">
                 <div class="form-group">
                    <label>Date submission</label> <span class="txt-danger">*</span>
                    <input type="date" class="form-control f-w-900 upper" name="date_submission" id="" required>
                 </div>
              </div>
              <div class="col-md-2">
                 <div class="form-group">
                    <label>Action</label><br>
                    <button type="submit" class="btn btn-primary">Update</button>
                 </div>
              </div>
           </div>
        </form>
     </div>
     {% endif %}
     {% else %}
     <br>
     <div class="alert alert-dark" role="alert">
      To update transactions, kindly contact the verifiers.
      </div>
     {% endif %}
    </div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="col-lg-12">
        <p class="text-center">Timelines</p>
        <section style="background-color: #F0F2F5;">
            <div class="container py-5">
                <div class="main-timeline">
                    {% if transaction_status.is_verified %}
                    <div class="timeline left">
                        <div class="card">
                            <div class="card-body p-4">
                                <h3>Verifier History</h3>
                                <p class="mb-0">Date Verified: {{transaction_status.verified_time_start}} <br> Verified End: {{transaction_status.verified_time_end}}.</p>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if transaction_status.is_swo %}
                    <div class="timeline right">
                        <div class="card">
                            <div class="card-body p-4">
                                <h3>Social Worker History</h3>
                                <p class="mb-0">Assessment Start: {{transaction_status.swo_time_start}} <br> Assessment End: {{transaction_status.swo_time_end}}.</p>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if transaction_status.is_verified == 1 and transaction_status.is_swo == 1 %}
                    <div class="timeline left">
                        <div class="card">
                            <div class="card-body p-4">
                                <h3>Transaction Ended</h3>
                                <p class="mb-0">Transaction Start: {{transaction_status.verified_time_start}} and Transaction End: {{transaction_status.swo_time_end}}.</p>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </section>
      </div>
    </div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
      <div class="table-responsive text-nowrap table-scroll">
        <table class="table table-responsive" width="100%" id="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Tracking Number</th>
              <th scope="col">Client Full name</th>
              <th scope="col">Beneficiary Full name</th>
              <th scope="col">Assistance type</th>
              <th scope="col">Date of transaction</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            {% for row in get_client_history %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{row.transaction.tracking_number}}</td>
              <td>{{row.transaction.client.client_bene_fullname}}</td>
              <td>{{row.transaction.bene.client_bene_fullname}}</td>
              <td>{{row.transaction.lib_assistance_category.name}}</td>
              <td>{{row.transaction.date_of_transaction}}</td>
              <td>
                {% if row.status == 1 %}
                Pending
                {% elif row.status == 2 %}
                Ongoing
                {% elif row.status == 3 %}
                For uploading picture
                {% elif row.status == 4 %}
                Hold
                {% elif row.status == 5 %}
                Cancelled
                {% elif row.status == 6 %}
                Completed
                {% elif row.status == 7 %}
                Resumed
                {% else %}
                Pending
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane fade" id="beneficiary" role="tabpanel" aria-labelledby="beneficiary-tab">
      <div class="table-responsive text-nowrap table-scroll">
        <table class="table table-responsive" width="100%" id="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Tracking Number</th>
              <th scope="col">Client Full name</th>
              <th scope="col">Beneficiary Full name</th>
              <th scope="col">Assistance type</th>
              <th scope="col">Date of transaction</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            {% for row in get_beneficiary_history %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>{{row.transaction.tracking_number}}</td>
              <td>{{row.transaction.client.client_bene_fullname}}</td>
              <td>{{row.transaction.bene.client_bene_fullname}}</td>
              <td>{{row.transaction.lib_assistance_category.name}}</td>
              <td>{{row.transaction.date_of_transaction}}</td>
              <td>
                {% if row.status == 1 %}
                Pending
                {% elif row.status == 2 %}
                Ongoing
                {% elif row.status == 3 %}
                For uploading picture
                {% elif row.status == 4 %}
                Hold
                {% elif row.status == 5 %}
                Cancelled
                {% elif row.status == 6 %}
                Completed
                {% elif row.status == 7 %}
                Resumed
                {% else %}
                Pending
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  {% comment %} <a href="{% url 'printQueueing' transaction_status.id %}" target="_blank" align="center">Print</a> {% endcomment %}
</div>
<script>
  $('.client_beneficiary').select2({
      width: '100%',
      placeholder: 'CHOOSE',
      containerCssClass: 'select',
      allowClear: true,
      ajax: {
          url: "{% url 'get_all_client_beneficiary' %}",
          method: "GET",
          dataType: "json",  // Corrected the property name to "dataType"
          data: function(params) {
              return {
                  searchTerm: params.term
              };
          },
          processResults: function(response) {
              return {
                  results: response
              };
          },
          cache: true
      }
  });

  $('.get_user').select2({
    width: '100%',
    placeholder: 'CHOOSE',
    containerCssClass: 'select',
    allowClear: true,
    ajax: {
        url: "{% url 'get_all_user' %}",
        method: "GET",
        dataType: "json",  // Corrected the property name to "dataType"
        data: function(params) {
            return {
                searchTerm: params.term
            };
        },
        processResults: function(response) {
            return {
                results: response
            };
        },
        cache: true
    }
});
  $('.relationship').select2({
    width: '100%',
    placeholder: 'Choose',
    containerCssClass: 'select'
  });
  $('.select1').select2({
    width: '100%',
    placeholder: 'Choose',
    containerCssClass: 'select'
  });
  function validationForm(){
    var invalid = false;
    $('.form-control').each(function() {
        if (/<[a-z][\s\S]*>/i.test($(this).val())) {
            $(this).addClass('is-invalid');
            $(this).next('.invalid-feedback').html("The field cannot contain HTML tags.")
            invalid = true;
        }
    });
    return invalid;
  }
  $('#submitForActionForm').on('submit', function(e){
    e.preventDefault();
    var form = new FormData(this);
    if (!validationForm()){
        Swal.fire({
            title: "Are you sure",
            text: "You want to update Client/Beneficiary?",
            icon: "info",
            showCancelButton: true,
            confirmButtonText: "Yes",
            allowOutsideClick: false,
            showLoaderOnConfirm: true,
            preConfirm: function (){
                return $.post({
                    url: "{% url 'trackingModal' datas.id %}",
                    data: form,
                    success : function (response){
                        if(!response.error){
                            Swal.fire({
                                title: "Good job!",
                                html:  response.msg,
                                icon: "success",
                                allowOutsideClick: false,
                            }).then((result) => {
                                if (result.isConfirmed){
                                    $('#tracking_modal').load('/requests/tracking/{{ datas.id }}');
                                    $('#incoming-table').DataTable().ajax.reload();
                                }
                            });
                        }
                    },
                    cache       : false,
                    contentType : false,
                    processData : false,
                });
            },
        });
    }
  });
  $('#updateRelationship').on('submit', function(e){
    e.preventDefault();
    var form = new FormData(this);
    if (!validationForm()){
        Swal.fire({
            title: "Are you sure",
            text: "You want to update the relationship?",
            icon: "info",
            showCancelButton: true,
            confirmButtonText: "Yes",
            allowOutsideClick: false,
            showLoaderOnConfirm: true,
            preConfirm: function (){
                return $.post({
                    url: "{% url 'trackingModal' datas.id %}",
                    data: form,
                    success : function (response){
                        if(!response.error){
                            Swal.fire({
                                title: "Good job!",
                                html:  response.msg,
                                icon: "success",
                                allowOutsideClick: false,
                            }).then((result) => {
                                if (result.isConfirmed){
                                    $('#tracking_modal').load('/requests/tracking/{{ datas.id }}');
                                    $('#incoming-table').DataTable().ajax.reload();
                                }
                            });
                        }
                    },
                    cache       : false,
                    contentType : false,
                    processData : false,
                });
            },
        });
    }
  });
  $('#submitUpdateSwo').on('submit', function(e){
    e.preventDefault();
    var form = new FormData(this);
    if (!validationForm()){
        Swal.fire({
            title: "Are you sure",
            text: "You want to update Social Worker?",
            icon: "info",
            showCancelButton: true,
            confirmButtonText: "Yes",
            allowOutsideClick: false,
            showLoaderOnConfirm: true,
            preConfirm: function (){
                return $.post({
                    url: "{% url 'trackingModal' datas.id %}",
                    data: form,
                    success : function (response){
                        if(!response.error){
                            Swal.fire({
                                title: "Good job!",
                                html:  response.msg,
                                icon: "success",
                                allowOutsideClick: false,
                            }).then((result) => {
                                if (result.isConfirmed){
                                    $('#tracking_modal').load('/requests/tracking/{{ datas.id }}');
                                    $('#incoming-table').DataTable().ajax.reload();
                                }
                            });
                        }
                    },
                    cache       : false,
                    contentType : false,
                    processData : false,
                });
            },
        });
    }
  });
  $('#submitCaseStudy').on('submit', function(e){
    e.preventDefault();
    var form = new FormData(this);
    if (!validationForm()){
        Swal.fire({
            title: "Are you sure",
            text: "The social worker already submitted case study?",
            icon: "info",
            showCancelButton: true,
            confirmButtonText: "Yes",
            allowOutsideClick: false,
            showLoaderOnConfirm: true,
            preConfirm: function (){
                return $.post({
                    url: "{% url 'submitCaseStudy' %}",
                    data: form,
                    success : function (response){
                        if(!response.error){
                            Swal.fire({
                                title: "Good job!",
                                html:  response.msg,
                                icon: "success",
                                allowOutsideClick: false,
                            }).then((result) => {
                                if (result.isConfirmed){
                                    $('#tracking_modal').load('/requests/tracking/{{ datas.id }}');
                                    $('#incoming-table').DataTable().ajax.reload();
                                }
                            });
                        }
                    },
                    cache       : false,
                    contentType : false,
                    processData : false,
                });
            },
        });
    }
  });
  $('#updateCaseStudy').on('submit', function(e){
    e.preventDefault();
    var form = new FormData(this);
    if (!validationForm()){
        Swal.fire({
            title: "Are you sure",
            text: "You want to update the category of this study?",
            icon: "info",
            showCancelButton: true,
            confirmButtonText: "Yes",
            allowOutsideClick: false,
            showLoaderOnConfirm: true,
            preConfirm: function (){
                return $.post({
                    url: "{% url 'submitCaseStudy' %}",
                    data: form,
                    success : function (response){
                        if(!response.error){
                            Swal.fire({
                                title: "Good job!",
                                html:  response.msg,
                                icon: "success",
                                allowOutsideClick: false,
                            }).then((result) => {
                                if (result.isConfirmed){
                                    $('#tracking_modal').load('/requests/tracking/{{ datas.id }}');
                                    $('#incoming-table').DataTable().ajax.reload();
                                }
                            });
                        }
                    },
                    cache       : false,
                    contentType : false,
                    processData : false,
                });
            },
        });
    }
  });
</script>